openapi: 3.0.3
info:
  title: TIM SERVER REST API SDK
  description: TIM REST API
  version: 1.0.0
servers:
  - url: https://console.tim.qq.com
tags:
  - name: account
    description: 帐号管理
  - name: single_chat
    description: 单聊消息
  - name: all_member_push
    description: 全员推送
  - name: portrait
    description: 资料管理
  - name: relationships
    description: 关系链管理
  - name: recent_contact
    description: 最近联系人
  - name: group
    description: 群组管理
  - name: mute
    description: 全局禁言管理
  - name: operation
    description: 运营管理
paths:
  # 帐号管理
  /v4/im_open_login_svc/account_import:
    post:
      operationId: account_import
      tags:
        - account
      summary: 导入单个帐号（https://cloud.tencent.com/document/product/269/1608）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountImportRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/im_open_login_svc/multiaccount_import:
    post:
      operationId: multi_account_import
      tags:
        - account
      summary: 导入多个帐号（https://cloud.tencent.com/document/product/269/4919）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiAccountImportRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiAccountImportResponse'
  /v4/im_open_login_svc/account_delete:
    post:
      operationId: account_delete
      tags:
        - account
      summary: 删除帐号（https://cloud.tencent.com/document/product/269/36443）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountDeleteRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDeleteResponse'
  /v4/im_open_login_svc/account_check:
    post:
      operationId: account_check
      tags:
        - account
      summary: 查询帐号 (https://cloud.tencent.com/document/product/269/38417)
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCheckRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCheckResponse'
  /v4/im_open_login_svc/kick:
    post:
      operationId: kick
      tags:
        - account
      summary: 失效帐号登录状态（https://cloud.tencent.com/document/product/269/3853）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KickRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/openim/query_online_status:
    post:
      operationId: query_online_status
      tags:
        - account
      summary: 查询帐号在线状态（https://cloud.tencent.com/document/product/269/2566）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryOnlineStatusRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryOnlineStatusResponse'
  # 单聊消息
  /v4/openim/sendmsg:
    post:
      operationId: sendmsg
      tags:
        - single_chat
      summary: 单发单聊消息（https://cloud.tencent.com/document/product/269/2282）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendSingleChatMsgRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendSingleChatMsgResponse'
  /v4/openim/batchsendmsg:
    post:
      operationId: batchsendmsg
      tags:
        - single_chat
      summary: 批量发单聊消息（https://cloud.tencent.com/document/product/269/1612）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchSendSingleChatMsgRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchSendSingleChatMsgResponse'
  /v4/openim/importmsg:
    post:
      operationId: importmsg
      tags:
        - single_chat
      summary: 导入单聊消息（https://cloud.tencent.com/document/product/269/2568）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportMsgRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/openim/admin_getroammsg:
    post:
      operationId: admin_getroammsg
      tags:
        - single_chat
      summary: 查询单聊消息（https://cloud.tencent.com/document/product/269/42794）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRoamMsgRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRoamMsgResponse'
  /v4/openim/admin_msgwithdraw:
    post:
      operationId: admin_msgwithdraw
      tags:
        - single_chat
      summary: 撤回单聊消息（https://cloud.tencent.com/document/product/269/38980）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MsgWithdrawRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/openim/admin_set_msg_read:
    post:
      operationId: admin_set_msg_read
      tags:
        - single_chat
      summary: 设置单聊消息已读（https://cloud.tencent.com/document/product/269/50349）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetMsgReadRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/openim/get_c2c_unread_msg_num:
    post:
      operationId: get_c2c_unread_msg_num
      tags:
        - single_chat
      summary: 查询单聊未读消息计数（https://cloud.tencent.com/document/product/269/56043）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetC2cUnreadMsgNumRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetC2cUnreadMsgNumResponse'

  # 全员推送
  /v4/all_member_push/im_push:
    post:
      operationId: im_push
      tags:
        - all_member_push
      summary: 全员推送（https://cloud.tencent.com/document/product/269/45934）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImPushRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImPushResponse'
  /v4/all_member_push/im_set_attr_name:
    post:
      operationId: im_set_attr_name
      tags:
        - all_member_push
      summary: 设置应用属性名称（https://cloud.tencent.com/document/product/269/45935）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImSetAttrNameRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/all_member_push/im_get_attr_name:
    post:
      operationId: im_get_attr_name
      tags:
        - all_member_push
      summary: 获取应用属性名称（https://cloud.tencent.com/document/product/269/45936）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImGetAttrNameRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImGetAttrNameResponse'

  /v4/all_member_push/im_get_attr:
    post:
      operationId: im_get_attr
      tags:
        - all_member_push
      summary: 获取用户属性（https://cloud.tencent.com/document/product/269/45937）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImGetAttrRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImGetAttrResponse'
  /v4/all_member_push/im_set_attr:
    post:
      operationId: im_set_attr
      tags:
        - all_member_push
      summary: 设置用户属性（https://cloud.tencent.com/document/product/269/45938）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImSetAttrRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/all_member_push/im_remove_attr:
    post:
      operationId: im_remove_attr
      tags:
        - all_member_push
      summary: 删除用户属性（https://cloud.tencent.com/document/product/269/45939）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImRemoveAttrRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/all_member_push/im_get_tag:
    post:
      operationId: im_get_tag
      tags:
        - all_member_push
      summary: 获取用户标签（https://cloud.tencent.com/document/product/269/45940）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImGetTagRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImGetTagResponse'
  /v4/all_member_push/im_add_tag:
    post:
      operationId: im_add_tag
      tags:
        - all_member_push
      summary: 添加用户标签（https://cloud.tencent.com/document/product/269/45941）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImAddTagRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/all_member_push/im_remove_tag:
    post:
      operationId: im_remove_tag
      tags:
        - all_member_push
      summary: 删除用户标签（https://cloud.tencent.com/document/product/269/45942）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImRemoveTagRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/all_member_push/im_remove_all_tags:
    post:
      operationId: im_remove_all_tags
      tags:
        - all_member_push
      summary: 删除用户所有标签（https://cloud.tencent.com/document/product/269/45943）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImRemoveAllTagRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  # 资料管理
  /v4/profile/portrait_set:
    post:
      operationId: portrait_set
      tags:
        - portrait
      summary: 设置资料（https://cloud.tencent.com/document/product/269/1640）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortraitSetRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortraitSetResponse'
  /v4/profile/portrait_get:
    post:
      operationId: portrait_get
      tags:
        - portrait
      summary: 拉取资料（https://cloud.tencent.com/document/product/269/1639）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortraitGetRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortraitGetResponse'

  # 关系链管理
  /v4/sns/friend_add:
    post:
      operationId: friend_add
      tags:
        - relationships
      summary: 添加好友（https://cloud.tencent.com/document/product/269/1643）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FriendAddRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendAddResponse'
  /v4/sns/friend_import:
    post:
      operationId: friend_import
      tags:
        - relationships
      summary: 导入好友（https://cloud.tencent.com/document/product/269/8301）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FriendImportRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendImportResponse'
  /v4/sns/friend_update:
    post:
      operationId: friend_update
      tags:
        - relationships
      summary: 更新好友（https://cloud.tencent.com/document/product/269/12525）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FriendUpdateRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendUpdateResponse'
  /v4/sns/friend_delete:
    post:
      operationId: friend_delete
      tags:
        - relationships
      summary: 删除好友（https://cloud.tencent.com/document/product/269/1644）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FriendDeleteRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendDeleteResponse'
  /v4/sns/friend_delete_all:
    post:
      operationId: friend_delete_all
      tags:
        - relationships
      summary: 删除所有好友（https://cloud.tencent.com/document/product/269/1645）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FriendDeleteAllRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendDeleteAllResponse'
  /v4/sns/friend_check:
    post:
      operationId: friend_check
      tags:
        - relationships
      summary: 校验好友（https://cloud.tencent.com/document/product/269/1646）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FriendCheckRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendCheckResponse'
  /v4/sns/friend_get:
    post:
      operationId: friend_get
      tags:
        - relationships
      summary: 拉取好友（https://cloud.tencent.com/document/product/269/1647）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FriendGetRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendGetResponse'
  /v4/sns/friend_get_list:
    post:
      operationId: friend_get_list
      tags:
        - relationships
      summary: 拉取指定好友（https://cloud.tencent.com/document/product/269/8609）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FriendGetListRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendGetListResponse'
  /v4/sns/black_list_add:
    post:
      operationId: black_list_add
      tags:
        - relationships
      summary: 添加黑名单（https://cloud.tencent.com/document/product/269/3718）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlackListAddRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlackListAddResponse'
  /v4/sns/black_list_delete:
    post:
      operationId: black_list_delete
      tags:
        - relationships
      summary: 删除黑名单（https://cloud.tencent.com/document/product/269/3719）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlackListDeleteRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlackListDeleteResponse'
  /v4/sns/black_list_get:
    post:
      operationId: black_list_get
      tags:
        - relationships
      summary: 拉取黑名单（https://cloud.tencent.com/document/product/269/3722）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlackListGetRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlackListGetResponse'
  /v4/sns/black_list_check:
    post:
      operationId: black_list_check
      tags:
        - relationships
      summary: 校验黑名单（https://cloud.tencent.com/document/product/269/3725）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlackListCheckRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlackListCheckResponse'
  /v4/sns/group_add:
    post:
      operationId: group_add
      tags:
        - relationships
      summary: 添加分组（https://cloud.tencent.com/document/product/269/10107）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupAddRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupAddResponse'
  /v4/sns/group_delete:
    post:
      operationId: group_delete
      tags:
        - relationships
      summary: 删除分组（https://cloud.tencent.com/document/product/269/10108）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupDeleteRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDeleteResponse'
  /v4/sns/group_get:
    post:
      operationId: group_get
      tags:
        - relationships
      summary: 拉取分组（https://cloud.tencent.com/document/product/269/54763）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupGetRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupGetResponse'

  #  最近联系人
  /v4/recentcontact/get_list:
    post:
      operationId: get_recent_contact_list
      tags:
        - recent_contact
      summary: 拉取会话列表（https://cloud.tencent.com/document/product/269/62118）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRecentContactListGroupGetRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRecentContactListGroupGetResponse'
  /v4/recentcontact/delete:
    post:
      operationId: delete_recent_contact
      tags:
        - recent_contact
      summary: 删除单个会话（https://cloud.tencent.com/document/product/269/62119）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRecentContactListGroupDeleteRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRecentContactListGroupDeleteResponse'

  #   群组管理
  /v4/group_open_http_svc/get_appid_group_list:
    post:
      operationId: get_appid_group_list
      tags:
        - group
      summary: 获取 App 中的所有群组（https://cloud.tencent.com/document/product/269/1614）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAppidGroupListRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAppidGroupListResponse'
  /v4/group_open_http_svc/create_group:
    post:
      operationId: create_group
      tags:
        - group
      summary: 创建群组（https://cloud.tencent.com/document/product/269/1615）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateGroupResponse'
  /v4/group_open_http_svc/get_group_info:
    post:
      operationId: get_group_info
      tags:
        - group
      summary: 获取群详细资料（https://cloud.tencent.com/document/product/269/1616）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetGroupInfoRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGroupInfoResponse'
  /v4/group_open_http_svc/get_group_member_info:
    post:
      operationId: get_group_member_info
      tags:
        - group
      summary: 获取群成员详细资料（https://cloud.tencent.com/document/product/269/1617）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetGroupMemberInfoRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGroupMemberInfoResponse'
  /v4/group_open_http_svc/modify_group_base_info:
    post:
      operationId: modify_group_base_info
      tags:
        - group
      summary: 修改群基础资料（https://cloud.tencent.com/document/product/269/1620）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyGroupBaseInfoRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/group_open_http_svc/add_group_member:
    post:
      operationId: add_group_member
      tags:
        - group
      summary: 增加群成员（https://cloud.tencent.com/document/product/269/1621）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddGroupMemberRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddGroupMemberResponse'
  /v4/group_open_http_svc/delete_group_member:
    post:
      operationId: delete_group_member
      tags:
        - group
      summary: 删除群成员（https://cloud.tencent.com/document/product/269/1622）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteGroupMemberRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/group_open_http_svc/modify_group_member_info:
    post:
      operationId: modify_group_member_info
      tags:
        - group
      summary: 修改群成员资料(https://cloud.tencent.com/document/product/269/1623)
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyGroupMemberInfoRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/group_open_http_svc/destroy_group:
    post:
      operationId: destroy_group
      tags:
        - group
      summary: 解散群组(https://cloud.tencent.com/document/product/269/1624)
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DestroyGroupRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/group_open_http_svc/get_joined_group_list:
    post:
      operationId: get_joined_group_list
      tags:
        - group
      summary: 获取用户所加入的群组(https://cloud.tencent.com/document/product/269/1625)
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetJoinedGroupListRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJoinedGroupListResponse'
  /v4/group_open_http_svc/get_role_in_group:
    post:
      operationId: get_role_in_group
      tags:
        - group
      summary: 查询用户在群组中的身份(https://cloud.tencent.com/document/product/269/1626)
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRoleInGroupRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRoleInGroupResponse'
  /v4/group_open_http_svc/forbid_send_msg:
    post:
      operationId: forbid_send_msg
      tags:
        - group
      summary: 批量禁言和取消禁言(https://cloud.tencent.com/document/product/269/1627)
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForbidSendMsgRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/group_open_http_svc/get_group_shutted_uin:
    post:
      operationId: get_group_shutted_uin
      tags:
        - group
      summary: 获取被禁言群成员列表(https://cloud.tencent.com/document/product/269/2925)
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetGroupShuttedUinRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGroupShuttedUinResponse'
  /v4/group_open_http_svc/send_group_msg:
    post:
      operationId: send_group_msg
      tags:
        - group
      summary: 在群组中发送普通消息（https://cloud.tencent.com/document/product/269/1629）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendGroupMsgRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendGroupMsgResponse'
  /v4/group_open_http_svc/send_group_system_notification:
    post:
      operationId: send_group_system_notification
      tags:
        - group
      summary: 在群组中发送系统通知（https://cloud.tencent.com/document/product/269/1630）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendGroupSystemNotificationRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/group_open_http_svc/change_group_owner:
    post:
      operationId: change_group_owner
      tags:
        - group
      summary: 转让群主（https://cloud.tencent.com/document/product/269/1633）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeGroupOwnerRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/group_open_http_svc/group_msg_recall:
    post:
      operationId: group_msg_recall
      tags:
        - group
      summary: 撤回群消息（https://cloud.tencent.com/document/product/269/12341）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupMsgRecallRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMsgRecallResponse'
  /v4/group_open_http_svc/import_group:
    post:
      operationId: import_group
      tags:
        - group
      summary: 导入群基础资料（https://cloud.tencent.com/document/product/269/1634）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportGroupRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportGroupResponse'
  /v4/group_open_http_svc/import_group_msg:
    post:
      operationId: import_group_msg
      tags:
        - group
      summary: 导入群消息（https://cloud.tencent.com/document/product/269/1635）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportGroupMsgRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportGroupMsgResponse'
  /v4/group_open_http_svc/import_group_member:
    post:
      operationId: import_group_member
      tags:
        - group
      summary: 导入群成员（https://cloud.tencent.com/document/product/269/1636）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportGroupMemberRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportGroupMemberResponse'
  /v4/group_open_http_svc/set_unread_msg_num:
    post:
      operationId: set_unread_msg_num
      tags:
        - group
      summary: 设置成员未读消息计数（https://cloud.tencent.com/document/product/269/1637）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetUnreadMsgNumRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/group_open_http_svc/delete_group_msg_by_sender:
    post:
      operationId: delete_group_msg_by_sender
      tags:
        - group
      summary: 删除指定用户发送的消息（https://cloud.tencent.com/document/product/269/2359）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteGroupMsgBySenderRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/group_open_http_svc/group_msg_get_simple:
    post:
      operationId: group_msg_get_simple
      tags:
        - group
      summary: 拉取群历史消息（https://cloud.tencent.com/document/product/269/2738）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupMsgGetSimpleRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMsgGetSimpleResponse'
  /v4/group_open_http_svc/get_online_member_num:
    post:
      operationId: get_online_member_num
      tags:
        - group
      summary: 获取直播群在线人数（https://cloud.tencent.com/document/product/269/49180）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOnlineMemberNumRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOnlineMemberNumResponse'
  /v4/group_open_http_svc/get_group_attr:
    post:
      operationId: get_group_attr
      tags:
        - group
      summary: 获取群自定义属性（https://cloud.tencent.com/document/product/269/67012）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetGroupAttrRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGroupAttrResponse'
  /v4/group_open_http_svc/modify_group_attr:
    post:
      operationId: modify_group_attr
      tags:
        - group
      summary: 修改群自定义属性（https://cloud.tencent.com/document/product/269/67010）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyGroupAttrRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/group_open_http_svc/clear_group_attr:
    post:
      operationId: clear_group_attr
      tags:
        - group
      summary: 清空群自定义属性（https://cloud.tencent.com/document/product/269/67009）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClearGroupAttrRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/group_open_http_svc/set_group_attr:
    post:
      operationId: set_group_attr
      tags:
        - group
      summary: 重置群自定义属性（https://cloud.tencent.com/document/product/269/67011）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetGroupAttrRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  # 全局禁言管理
  /v4/openconfigsvr/setnospeaking:
    post:
      operationId: setnospeaking
      tags:
        - mute
      summary: 设置全局禁言（https://cloud.tencent.com/document/product/269/4230）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetNoSpeakingRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /v4/openconfigsvr/getnospeaking:
    post:
      operationId: getnospeaking
      tags:
        - mute
      summary: 查询全局禁言（https://cloud.tencent.com/document/product/269/4229）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetNoSpeakingRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNoSpeakingResponse'
  # 运营管理
  /v4/openconfigsvr/getappinfo:
    post:
      operationId: getappinfo
      tags:
        - operation
      summary: 拉取运营数据（https://cloud.tencent.com/document/product/269/4193）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAppInfoRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAppInfoResponse'
  /v4/open_msg_svc/get_history:
    post:
      operationId: get_history
      tags:
        - operation
      summary: 下载最近消息记录（https://cloud.tencent.com/document/product/269/1650）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOperateMsgHistoryRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOperateMsgHistoryResponse'
  /v4/ConfigSvc/GetIPList:
    post:
      operationId: GetIPList
      tags:
        - operation
      summary: 获取服务器 IP 地址（https://cloud.tencent.com/document/product/269/45438）
      parameters:
        - $ref: '#/components/parameters/Random'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetIPListRequest'
      responses:
        200:
          description: 正常响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIPListResponse'
components:
  parameters:
    UserSig:
      in: query
      name: usersig
      required: true
      schema:
        type: string
    Identifier:
      in: query
      name: identifier
      required: true
      schema:
        type: string
    SdkAppId:
      in: query
      name: sdkappid
      required: true
      schema:
        type: string
    ContentType:
      in: query
      name: contenttype
      required: true
      schema:
        type: string
        default: 'json'
    Random:
      in: query
      name: random
      required: true
      schema:
        type: integer
        format: uint32
    Key:
      in: query
      name: key
      required: true
      schema:
        type: string
  schemas:
    # 通用
    GroupType:
      type: string
      enum:
        - Work
        - Private
        - Public
        - Meeting
        - ChatRoom
        - AVChatRoom
        - Community
    DefinedData:
      type: object
      required:
        - Key
        - Value
      properties:
        Key:
          type: string
        Value:
          type: string
    ForbidCallbackControl:
      type: string
      enum:
        - ForbidBeforeSendMsgCallback
        - ForbidAfterSendMsgCallback
    SendMsgControl:
      type: string
      enum:
        - NoLastMsg
        - NoUnread
    OfflinePushInfo:
      type: object
      properties:
        PushFlag:
          type: integer
          description: 0表示推送，1表示不离线推送。
          enum:
            - 0
            - 1
        Title:
          type: string
          description: 离线推送标题。该字段为 iOS 和 Android 共用。
        Desc:
          type: string
          description: 离线推送内容。该字段会覆盖上面各种消息元素 TIMMsgElement 的离线推送展示文本。若发送的消息只有一个 TIMCustomElem 自定义消息元素，该 Desc 字段会覆盖 TIMCustomElem 中的 Desc 字段。如果两个 Desc 字段都不填，将收不到该自定义消息的离线推送。
        Ext:
          type: string
          description: 离线推送透传内容。由于国内各 Android 手机厂商的推送平台要求各不一样，请保证此字段为 JSON 格式，否则可能会导致收不到某些厂商的离线推送。
        AndroidInfo:
          type: object
          properties:
            Sound:
              type: string
              description: Android 离线推送声音文件路径。
            HuaWeiChannelID:
              type: string
              description: 华为手机 EMUI 10.0 及以上的通知渠道字段。该字段不为空时，会覆盖控制台配置的 ChannelID 值；该字段为空时，不会覆盖控制台配置的 ChannelID 值。
            XiaoMiChannelID:
              type: string
              description: 小米手机 MIUI 10 及以上的通知类别（Channel）适配字段。该字段不为空时，会覆盖控制台配置的 ChannelID 值；该字段为空时，不会覆盖控制台配置的 ChannelID 值
            OPPOChannelID:
              type: string
              description: OPPO 手机 Android 8.0 及以上的 NotificationChannel 通知适配字段。该字段不为空时，会覆盖控制台配置的 ChannelID 值；该字段为空时，不会覆盖控制台配置的 ChannelID 值。
            GoogleChannelID:
              type: string
              description: Google 手机 Android 8.0 及以上的通知渠道字段。Google 推送新接口（上传证书文件）支持 channel id，旧接口（填写服务器密钥）不支持。
            VIVOClassification:
              type: string
              description: VIVO 手机推送消息分类，“0”代表运营消息，“1”代表系统消息，不填默认为1。
              enum:
                - 0
                - 1
            HuaWeiImportance:
              type: string
              description: 华为推送通知消息分类，取值为 LOW、NORMAL，不填默认为 NORMAL。
            ExtAsHuaweiIntentParam:
              type: integer
              description: 在控制台配置华为推送为“打开应用内指定页面”的前提下，传“1”表示将透传内容 Ext 作为 Intent 的参数，“0”表示将透传内容 Ext 作为 Action 参数。不填默认为0。两种传参区别可参见 华为推送文档（https://developer.huawei.com/consumer/cn/doc/development/HMSCore-Guides/andorid-basic-clickaction-0000001087554076#section20203190121410）。
              enum:
                - 0
                - 1
        ApnsInfo:
          type: object
          properties:
            BadgeMode:
              type: integer
              description: 这个字段缺省或者为0表示需要计数，为1表示本条消息不需要计数，即右上角图标数字不增加。
            Title:
              type: string
              description: 该字段用于标识 APNs 推送的标题，若填写则会覆盖最上层 Title。
            SubTitle:
              type: string
              description: 该字段用于标识 APNs 推送的子标题。
            Image:
              type: string
              description: 该字段用于标识 APNs 携带的图片地址，当客户端拿到该字段时，可以通过下载图片资源的方式将图片展示在弹窗上。
            MutableContent:
              type: integer
              description: 为1表示开启 iOS 10 的推送扩展，默认为0。
              default: 0
    TIMMsgElement:
      oneOf:
        - $ref: '#/components/schemas/TIMTextElem'
        - $ref: '#/components/schemas/TIMLocationElem'
        - $ref: '#/components/schemas/TIMFaceElem'
        - $ref: '#/components/schemas/TIMCustomElem'
        - $ref: '#/components/schemas/TIMSoundElem'
        - $ref: '#/components/schemas/TIMImageElem'
        - $ref: '#/components/schemas/TIMFileElem'
        - $ref: '#/components/schemas/TIMVideoFileElem'
      discriminator:
        propertyName: MsgType
    TIMTextElem:
      type: object
      required: [ MsgType, MsgContent ]
      properties:
        MsgType:
          type: string
          default: TIMTextElem
          description: TIM 消息对象类型
        MsgContent:
          type: object
          description: 对于每种 MsgType 用不同的 MsgContent 格式
          required: [ Text ]
          properties:
            Text:
              type: string
    TIMLocationElem:
      type: object
      required: [ MsgType, MsgContent ]
      properties:
        MsgType:
          type: string
          default: TIMLocationElem
        MsgContent:
          type: object
          required: [ Longitude, Latitude, Desc ]
          properties:
            Longitude:
              type: number
            Latitude:
              type: number
            Desc:
              type: string
    TIMFaceElem:
      type: object
      required: [ MsgType, MsgContent ]
      properties:
        MsgType:
          type: string
          default: TIMFaceElem
        MsgContent:
          type: object
          required: [ Index, Data ]
          properties:
            Index:
              type: integer
            Data:
              type: string
    TIMCustomElem:
      type: object
      required: [ MsgType, MsgContent ]
      properties:
        MsgType:
          type: string
          default: TIMCustomElem
        MsgContent:
          type: object
          required: [ Data ]
          properties:
            Data:
              type: string
            Desc:
              type: string
            Ext:
              type: string
            Sound:
              type: string
    TIMSoundElem:
      type: object
      required: [ MsgType, MsgContent ]
      properties:
        MsgType:
          type: string
          default: TIMSoundElem
        MsgContent:
          type: object
          required: [ UUID, Url, Download_Flag ]
          properties:
            Url:
              type: string
            UUID:
              type: string
            Size:
              type: integer
            Second:
              type: integer
            Download_Flag:
              type: integer
              default: 2
              enum:
                - 2
    ImageInfo:
      type: object
      required: [ Url, Type, Size, Width, Height ]
      properties:
        Type:
          type: integer
          enum:
            - 1
            - 2
            - 3
        Size:
          type: integer
        Width:
          type: integer
        Height:
          type: integer
        URL:
          type: string
    TIMImageElem:
      type: object
      required: [ MsgType, MsgContent ]
      properties:
        MsgType:
          type: string
          default: TIMImageElem
        MsgContent:
          type: object
          required: [ UUID, ImageFormat ]
          properties:
            UUID:
              type: string
            ImageFormat:
              type: integer
              enum:
                - 1
                - 2
                - 3
                - 4
                - 255
            ImageInfoArray:
              type: array
              items:
                $ref: '#/components/schemas/ImageInfo'
            Type:
              type: integer
              enum:
                - 1
                - 2
                - 3
            Size:
              type: integer
            Width:
              type: integer
            Height:
              type: integer
            URL:
              type: string
    TIMFileElem:
      type: object
      required: [ MsgType, MsgContent ]
      properties:
        MsgType:
          type: string
          default: TIMFileElem
        MsgContent:
          type: object
          required: [ UUID, FileName, FileSize ]
          properties:
            Url:
              type: string
            UUID:
              type: string
            FileName:
              type: string
            FileSize:
              type: integer
            Download_Flag:
              type: integer
              enum:
                - 2
    TIMVideoFileElem:
      type: object
      required: [ MsgType, MsgContent ]
      properties:
        MsgType:
          type: string
          default: TIMVideoFileElem
        MsgContent:
          type: object
          required: [ VideoUUID, VideoSecond, VideoSize, VideoFormat, ThumbUUID, ThumbSize, ThumbHeight, ThumbWidth, ThumbFormat ]
          properties:
            VideoUrl:
              type: string
            VideoUUID:
              type: string
            VideoSize:
              type: integer
            VideoSecond:
              type: integer
            VideoFormat:
              type: string
            VideoDownloadFlag:
              type: integer
              enum:
                - 2
            ThumbUrl:
              type: string
            ThumbUUID:
              type: string
            ThumbSize:
              type: integer
            ThumbWidth:
              type: integer
            ThumbHeight:
              type: integer
            ThumbFormat:
              type: string
            ThumbDownloadFlag:
              type: integer
              enum:
                - 2

    CommonResponse:
      type: object
      required:
        - ErrorCode
        - ErrorInfo
      properties:
        ActionStatus:
          type: string
          description: 请求处理的结果，OK 表示处理成功，FAIL 表示失败
        ErrorInfo:
          type: string
          description: 错误信息
        ErrorCode:
          type: integer
          description: 错误码，0表示成功，非0表示失败

    # 账号管理
    AccountImportRequest:
      type: object
      required:
        - UserID
      properties:
        UserID:
          type: string
          description: 用户名，长度不超过32字节
          maxLength: 32
        Nick:
          type: string
          description: 用户昵称
        FaceUrl:
          type: string
          description: 用户头像 URL

    MultiAccountImportRequest:
      type: object
      required:
        - Accounts
      properties:
        Accounts:
          type: array
          description: 用户名，单个用户名长度不超过32字节，单次最多导入100个用户名
          maxItems: 100
          items:
            type: string
            maxLength: 32
    MultiAccountImportResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            FailAccounts:
              description: 导入失败的帐号列表
              type: array
              items:
                type: string
    AccountDeleteRequest:
      type: object
      required:
        - DeleteItem
      properties:
        DeleteItem:
          type: array
          description: 请求删除的帐号对象数组，单次请求最多支持100个帐号
          maxItems: 100
          items:
            type: object
            required: [ UserID ]
            properties:
              UserID:
                description: 请求删除的帐号的 UserID
                type: string
    AccountDeleteResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            ResultItem:
              type: array
              description: 单个帐号的结果对象数组
              items:
                type: object
                required:
                  - UserID
                  - ResultInfo
                  - ResultCode
                properties:
                  ResultCode:
                    type: integer
                    description: 单个帐号的错误码，0表示成功，非0表示失败
                  ResultInfo:
                    type: string
                    description: 单个帐号删除失败时的错误描述信息
                  UserID:
                    type: string
                    description: 请求删除的帐号的 UserID
    AccountCheckRequest:
      type: object
      required:
        - CheckItem
      properties:
        CheckItem:
          type: array
          description: 请求检查的帐号对象数组，单次请求最多支持100个帐号
          maxItems: 100
          items:
            type: object
            required:
              - UserID
            properties:
              UserID:
                type: string
                description: 请求检查的帐号的 UserID
    AccountCheckResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            ResultItem:
              type: array
              description: 单个帐号的结果对象数组
              items:
                type: object
                properties:
                  ResultCode:
                    type: integer
                    description: 单个帐号的检查结果：0表示成功，非0表示失败
                  ResultInfo:
                    type: string
                    description: 单个帐号检查失败时的错误描述信息
                  UserID:
                    type: string
                    description: 请求检查的帐号的 UserID
                  AccountStatus:
                    type: string
                    description: 单个帐号的导入状态：Imported 表示已导入，NotImported 表示未导入
    KickRequest:
      type: object
      required:
        - UserID
      properties:
        UserID:
          type: string
          description: 用户名
    QueryOnlineStatusRequest:
      type: object
      required:
        - To_Account
      properties:
        To_Account:
          type: array
          description: 需要查询这些 UserID 的登录状态，一次最多查询500个 UserID 的状态
          maxItems: 500
          items:
            type: string
        IsNeedDetail:
          type: integer
          description: 是否需要返回详细的登录平台信息。0表示不需要，1表示需要
          enum:
            - 0
            - 1
    QueryOnlineStatusResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            QueryResult:
              type: array
              description: 返回的用户在线状态结构化信息
              items:
                type: object
                required:
                  - To_Account
                  - Status
                properties:
                  To_Account:
                    type: string
                    description: 返回的用户的 UserID
                  Status:
                    type: string
                    description: 返回的用户状态，目前支持的状态有： 前台运行状态（Online）：客户端登录后和即时通信 IM 后台有长连接 后台运行状态（PushOnline）：iOS 和 Android 进程被 kill 或因网络问题掉线，进入 PushOnline 状态，此时仍然可以接收消息的离线推送。客户端切到后台，但是进程未被手机操作系统 kill 掉时，此时状态仍是 Online 未登录状态（Offline）：客户端主动退出登录或者客户端自上一次登录起7天之内未登录过 如果用户是多终端登录，则只要有一个终端的状态是 Online ，该字段值就是 Online
                  Detail:
                    type: object
                    description: 详细的登录平台信息
                    required:
                      - Platform
                      - Status
                    properties:
                      Platform:
                        type: string
                        description: 登录的平台类型。可能的返回值有："iPhone", "Android", "Web", "PC", "iPad", "Mac"。
                      Status:
                        type: string
                        description: 该登录平台的状态
            ErrorList:
              type: array
              description: 状态查询失败的帐号列表，在此列表中的目标帐号，状态查询失败或目标帐号不存在。若状态全部查询成功，则 ErrorList 为空
              items:
                type: object
                required:
                  - To_Account
                  - ErrorCode
                properties:
                  To_Account:
                    type: string
                    description: 状态查询失败的目标帐号
                  ErrorCode:
                    type: integer
                    description: 状态查询失败的错误码，若目标帐号的错误码为70107，表示该帐号不存在
    # 单聊消息
    SendSingleChatMsgRequest:
      type: object
      required: [ To_Account,MsgRandom,MsgBody ]
      properties:
        SyncOtherMachine:
          type: integer
          description: 1：把消息同步到 From_Account 在线终端和漫游上；2：消息不同步至 From_Account；若不填写默认情况下会将消息存 From_Account 漫游
          enum:
            - 1
            - 2
        From_Account:
          type: string
          description: 消息发送方 UserID（用于指定发送消息方帐号）
        To_Account:
          type: string
          description: 消息接收方 UserID
        MsgLifeTime:
          type: integer
          description: 消息离线保存时长（单位：秒），最长为7天（604800秒） 若设置该字段为0，则消息只发在线用户，不保存离线 若设置该字段超过7天（604800秒），仍只保存7天 若不设置该字段，则默认保存7天
        MsgSeq:
          type: integer
          description: 消息序列号（32位无符号整数），后台会根据该字段去重及进行同秒内消息的排序，详细规则请看本接口的功能说明。若不填该字段，则由后台填入随机数
        MsgRandom:
          type: integer
          description: 消息随机数（32位无符号整数），后台用于同一秒内的消息去重。请确保该字段填的是随机
        MsgTimeStamp:
          type: integer
          description: 消息时间戳，UNIX 时间戳（单位：秒）
        ForbidCallbackControl:
          type: array
          description: 消息回调禁止开关，只对本条消息有效，ForbidBeforeSendMsgCallback 表示禁止发消息前回调，ForbidAfterSendMsgCallback 表示禁止发消息后回调
          items:
            type: string
        SendMsgControl:
          type: array
          description: 消息发送控制选项，是一个 String 数组，只对本条消息有效。"NoUnread"表示该条消息不计入未读数。"NoLastMsg"表示该条消息不更新会话列表。"WithMuteNotifications"表示该条消息的接收方对发送方设置的免打扰选项生效（默认不生效）。
          items:
            type: string
        MsgBody:
          type: array
          items:
            $ref: '#/components/schemas/TIMMsgElement'
        CloudCustomData:
          type: string
        OfflinePushInfo:
          $ref: '#/components/schemas/OfflinePushInfo'
    SendSingleChatMsgResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            MsgTime:
              type: integer
              description: 消息时间戳，UNIX 时间戳
            MsgKey:
              type: string
              description: 消息唯一标识，用于撤回。长度不超过50个字符

    BatchSendSingleChatMsgRequest:
      type: object
      required: [ To_Account,MsgRandom,MsgBody ]
      properties:
        SyncOtherMachine:
          type: integer
          description: 1：把消息同步到 From_Account 在线终端和漫游上 2：消息不同步至 From_Account；若不填写默认情况下会将消息存 From_Account 漫游
          enum:
            - 1
            - 2
        From_Account:
          type: string
          description: 管理员指定消息发送方帐号（若需设置 From_Account 信息，则该参数取值不能为空）
        To_Account:
          type: array
          description: 消息接收方用户 UserID
          items:
            type: string
        MsgLifeTime:
          type: integer
          description: 消息离线保存时长（单位：秒），最长为7天（604800秒）。若设置该字段为0，则消息只发在线用户，不保存离线及漫游
          maximum: 604800
        MsgSeq:
          type: integer
          description: 消息序列号（32位无符号整数），后台会根据该字段去重及进行同秒内消息的排序，详细规则请看本接口的功能说明。若不填该字段，则由后台填入随机数
        MsgRandom:
          type: integer
          description: 消息随机数（32位无符号整数），后台用于同一秒内的消息去重。请确保该字段填的是随机
        SendMsgControl:
          type: array
          description: 消息发送控制选项，是一个 String 数组，只对本次请求有效。"NoUnread"表示该条消息不计入未读数。"NoLastMsg"表示该条消息不更新会话列表。"WithMuteNotifications"表示该条消息的接收方对发送方设置的免打扰选项生效（默认不生效）。
          items:
            type: string
        MsgBody:
          type: array
          description: TIM 消息
          items:
            $ref: '#/components/schemas/TIMMsgElement'
        CloudCustomData:
          type: string
          description: 消息自定义数据（云端保存，会发送到对端，程序卸载重装后还能拉取到）
        OfflinePushInfo:
          $ref: '#/components/schemas/OfflinePushInfo'
    BatchSendSingleChatMsgResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            MsgTime:
              type: integer
            MsgKey:
              type: string
            ErrorList:
              type: array
              items:
                type: object
                required:
                  - To_Account
                  - ErrorCode
                properties:
                  To_Account:
                    type: string
                  ErrorCode:
                    type: integer

    ImportMsgRequest:
      type: object
      required: [ SyncFromOldSystem, From_Account,To_Account,MsgTimeStamp,MsgRandom,MsgBody ]
      properties:
        SyncFromOldSystem:
          type: integer
          description: 该字段只能填1或2，其他值是非法值 1表示实时消息导入，消息计入未读计数 2表示历史消息导入，消息不计入未读
          enum:
            - 0
            - 1
        From_Account:
          type: string
          description: 消息发送方 UserID，用于指定发送消息方
        To_Account:
          type: string
          description: 消息接收方 UserID
        MsgSeq:
          type: integer
          description: 消息序列号（32位无符号整数），后台会根据该字段去重及进行同秒内消息的排序，详细规则请看本接口的功能说明。若不填该字段，则由后台填入随机数
        MsgRandom:
          type: integer
          description: 消息随机数（32位无符号整数），后台用于同一秒内的消息去重。请确保该字段填的是随机
        MsgTimeStamp:
          type: integer
          description: 消息时间戳，UNIX 时间戳，单位为秒。后台会根据该字段去重，详细规则请看本接口的功能说明。
        MsgBody:
          type: array
          description: 消息内容，具体格式请参考（https://cloud.tencent.com/document/product/269/2720）消息格式描述（注意，一条消息可包括多种消息元素，MsgBody 为 Array 类型）
          items:
            $ref: '#/components/schemas/TIMMsgElement'
        CloudCustomData:
          type: string
          description: 消息自定义数据（云端保存，会发送到对端，程序卸载重装后还能拉取到）

    GetRoamMsgRequest:
      type: object
      required: [ From_Account,To_Account,MaxCnt,MinTime,MaxTime ]
      properties:
        From_Account:
          type: string
          description: 会话其中一方的 UserID，若已指定发送消息方帐号，则为消息发送方
        To_Account:
          type: string
          description: 会话其中一方的 UserID
        MaxCnt:
          type: integer
          description: 请求的消息条数
        MinTime:
          type: integer
          description: 请求的消息时间范围的最小值
        MaxTime:
          type: integer
          description: 请求的消息时间范围的最大值
        LastMsgKey:
          type: string
          description: 上一次拉取到的最后一条消息的 MsgKey，续拉时需要填该字段,填写方法见示例（https://cloud.tencent.com/document/product/269/42794）
    GetRoamMsgResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            Complete:
              type: integer
              description: 是否全部拉取，0表示未全部拉取，需要续拉，1表示已全部拉取
              enum:
                - 0
                - 1
            MsgCnt:
              type: integer
              description: 本次拉取到的消息条数
            LastMsgTime:
              type: integer
              description: 本次拉取到的消息里的最后一条消息的时间
            LastMsgKey:
              type: string
              description: 本次拉取到的消息里的最后一条消息的标识
            MsgList:
              type: array
              description: 返回的消息列表
              items:
                type: object
                properties:
                  From_Account:
                    type: integer
                    description: 消息发送方 UserID
                  To_Account:
                    type: integer
                    description: 消息接收方 UserID
                  MsgRandom:
                    type: integer
                    description: 消息随机数（32位无符号整数），后台用于同一秒内的消息去重。请确保该字段填的是随机
                  MsgTimeStamp:
                    type: integer
                    description: 消息时间戳，UNIX 时间戳（单位：秒
                  MsgFlagBits:
                    type: integer
                    description: 该条消息的属性，0表示正常消息，8表示被撤回的消息
                  MsgKey:
                    type: string
                    description: 标识该条消息，可用于 REST API（https://cloud.tencent.com/document/product/269/38980） 撤回单聊消息
                  MsgBody:
                    type: array
                    description: 消息内容
                    items:
                      $ref: '#/components/schemas/TIMMsgElement'
                  CloudCustomData:
                    type: string
                    description: 消息自定义数据（云端保存，会发送到对端，程序卸载重装后还能拉取到）

    MsgWithdrawRequest:
      type: object
      required: [ From_Account,To_Account,MsgKey ]
      properties:
        From_Account:
          type: string
          description: 消息发送方 UserID
        To_Account:
          type: string
          description: 消息接收方 UserID
        MsgKey:
          type: string
          description: 待撤回消息的唯一标识。该字段由REST API接口单发单聊消息（https://cloud.tencent.com/document/product/269/2282）和 批量发单聊消息（https://cloud.tencent.com/document/product/269/1612）返回

    SetMsgReadRequest:
      type: object
      required: [ Report_Account,Peer_Account ]
      properties:
        Report_Account:
          type: string
          description: 进行消息已读的用户 UserId
        Peer_Account:
          type: string
          description: 进行消息已读的单聊会话的另一方用户 UserId
        MsgReadTime:
          type: string
          description: 时间戳（秒），该时间戳之前的消息全部已读。若不填，则取当前时间戳

    GetC2cUnreadMsgNumRequest:
      type: object
      required: [ To_Account ]
      properties:
        To_Account:
          type: string
          description: 待查询的用户 UserId
        Peer_Account:
          type: array
          description: 待查询的单聊会话对端的用户 UserId。若要查询单个会话的未读数，该字段必填该数组最大大小为10
          maxItems: 10
          items:
            type: string
    GetC2cUnreadMsgNumResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            AllC2CUnreadMsgNum:
              type: integer
              description: 单聊消息总未读数
            C2CUnreadMsgNumList:
              type: array
              description: 单聊会话List
              items:
                type: object
                properties:
                  Peer_Account:
                    type: string
                    description: 单聊会话对端 UserId
                  C2CUnreadMsgNum:
                    type: string
                    description: 该单聊会话的未读数
            ErrorList:
              type: array
              items:
                type: object
                required:
                  - Peer_Account
                  - ErrorCode
                properties:
                  Peer_Account:
                    type: string
                    description: 查询错误的目标帐号
                  ErrorCode:
                    type: integer
                    description: 查询错误的错误码。若目标帐号的错误码为70107表示该帐号不存在

    # 全员推送
    ImPushRequest:
      type: object
      required: [ MsgRandom,MsgBody ]
      properties:
        Condition:
          type: object
          description: Condition 共有4种条件类型，分别是：属性的或条件 AttrsOr、属性的与条件 AttrsAnd、标签的或条件 TagsOr、标签的与条件 TagsAnd。AttrsOr 和 AttrsAnd 可以并存，TagsOr 和 TagsAnd 也可以并存。但是标签和属性条件不能并存。如果没有 Condition，则推送给全部用户
          items:
            type: object
            properties:
              AttrsOr:
                type: object
                description: 属性的或条件
              AttrsAnd:
                type: object
                description: 属性的与条件
              TagsOr:
                type: object
                description: 标签的或条件
              TagsAnd:
                type: object
                description: 标签的与条件
        MsgRandom:
          type: integer
          description: 消息随机数（32位无符号整数），后台用于同一秒内的消息去重。请确保该字段填的是随机
        MsgBody:
          type: array
          items:
            $ref: '#/components/schemas/TIMMsgElement'
        MsgLifeTime:
          type: integer
          description: 消息离线存储时间，单位秒，最多保存7天（604800秒）。默认为0，表示不离线存储，即只推在线用户
          maximum: 604800
        From_Account:
          type: string
          description: 消息推送方帐号
        OfflinePushInfo:
          $ref: '#/components/schemas/OfflinePushInfo'
    ImPushResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            TaskId:
              type: string
              description: 推送任务 ID

    ImSetAttrNameRequest:
      type: object
      required: [ AttrNames ]
      properties:
        AttrNames:
          type: object

    ImGetAttrNameRequest:
      type: object
    ImGetAttrNameResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            AttrNames:
              type: object
              description: 包含多个键对。每对键值对，表示第几个属性对应的名称。例如"0":"xxx"表示第0号属性的名称是 xxx

    ImGetAttrRequest:
      type: object
      required: [ To_Account ]
      properties:
        To_Account:
          type: array
          description: 目标用户帐号列表
          items:
            type: string
    ImGetAttrResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            UserAttrs:
              type: array
              items:
                type: object
                properties:
                  To_Account:
                    type: string
                    description: 用户帐号
                  Attrs:
                    type: object
                    description: 属性内容

    ImSetAttrRequest:
      type: object
      required: [ To_Account,Attrs ]
      properties:
        To_Account:
          type: string
          description: 目标用户帐号列表
        Attrs:
          type: object
          description: 属性集合。每个属性是一个键值对，键为属性名，值为该用户对应的属性值。用户属性值不能超过50字节


    ImRemoveAttrRequest:
      type: object
      required: [ To_Account,Attrs ]
      properties:
        To_Account:
          type: string
          description: 目标用户帐号列表
        Attrs:
          type: array
          items:
            type: string
          description: 属性集合，注意这里只需要给出属性名即可

    ImGetTagRequest:
      type: object
      required: [ To_Account ]
      properties:
        To_Account:
          type: array
          items:
            type: string
          description: 目标用户帐号列表
    ImGetTagResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            UserTags:
              type: array
              items:
                type: object
                properties:
                  To_Account:
                    type: string
                    description: 用户帐号
                  Tags:
                    type: array
                    description: Tags内容
                    items:
                      type: string
    ImAddTagRequest:
      type: object
      required: [ To_Account,Tags ]
      properties:
        To_Account:
          type: string
          description: 目标用户帐号列表
        Tags:
          type: array
          description: 标签集合
          items:
            type: string

    ImRemoveTagRequest:
      type: object
      required: [ To_Account,Tags ]
      properties:
        UserTags:
          type: array
          description: 目标用户帐号列表
          items:
            type: string
            properties:
              To_Account:
                type: string
                description: 目标用户帐号列表
              Tags:
                type: array
                items:
                  type: string
                description: 标签集合
    ImRemoveAllTagRequest:
      type: object
      required: [ To_Account ]
      properties:
        To_Account:
          type: array
          description: 目标用户帐号
          items:
            type: string

    PortraitSetRequest:
      type: object
      required: [ From_Account,ProfileItem ]
      properties:
        From_Account:
          type: string
          description: 消息发送方 UserID
        ProfileItem:
          type: array
          description: 待设置的用户的资料对象数组，数组中每一个对象都包含了 Tag 和 Value
          items:
            type: object
            required: [ Tag,Value ]
            properties:
              Tag:
                type: string
                description: 指定要设置的资料字段的名称，支持设置的资料字段有：1. 标配资料字段，详情可参见 标配资料字段（https://cloud.tencent.com/document/product/269/1500#.E6.A0.87.E9.85.8D.E8.B5.84.E6.96.99.E5.AD.97.E6.AE.B5）2. 自定义资料字段，详情可参见 自定义资料字段（https://cloud.tencent.com/document/product/269/1500#.E8.87.AA.E5.AE.9A.E4.B9.89.E8.B5.84.E6.96.99.E5.AD.97.E6.AE.B5）
              Value:
                type: string
                description: 待设置的资料字段的值，详情可参见 资料字段（https://cloud.tencent.com/document/product/269/1500#.E8.B5.84.E6.96.99.E5.AD.97.E6.AE.B5）
    PortraitSetResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            ErrorDisplay:
              type: string
              description: 详细的客户端展示信息
    PortraitGetRequest:
      type: object
      required: [ To_Account,TagList ]
      properties:
        To_Account:
          type: array
          description: 需要拉取这些 UserID 的资料；注意：每次拉取的用户数不得超过100，避免因回包数据量太大以致回包失败
          items:
            type: string
        TagList:
          type: array
          description: 指定要拉取的资料字段的 Tag，支持的字段有：1. 标配资料字段，详情可参见 标配资料字段（https://cloud.tencent.com/document/product/269/1500#.E6.A0.87.E9.85.8D.E8.B5.84.E6.96.99.E5.AD.97.E6.AE.B5） 2. 自定义资料字段，详情可参见 自定义资料字段（https://cloud.tencent.com/document/product/269/1500#.E8.87.AA.E5.AE.9A.E4.B9.89.E8.B5.84.E6.96.99.E5.AD.97.E6.AE.B5）
          items:
            type: string

    PortraitGetResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            UserProfileItem:
              type: array
              description: 返回的用户资料结构化信息
              items:
                type: object
                properties:
                  To_Account:
                    type: string
                    description: 返回的用户的 UserID
                  ProfileItem:
                    type: array
                    description: 返回的用户的资料对象数组，数组中每一个对象都包含了 Tag 和 Value
                    items:
                      type: object
                      properties:
                        Tag:
                          type: string
                          description: 返回的资料对象的名称：1. 标配资料字段，详情可参见 标配资料字段（https://cloud.tencent.com/document/product/269/1500#.E6.A0.87.E9.85.8D.E8.B5.84.E6.96.99.E5.AD.97.E6.AE.B5）2. 自定义资料字段，详情可参见 自定义资料字段（https://cloud.tencent.com/document/product/269/1500#.E8.87.AA.E5.AE.9A.E4.B9.89.E8.B5.84.E6.96.99.E5.AD.97.E6.AE.B5）
                        Value:
                          type: string
                          description: 拉取的资料对象的值，详情可参见 资料字段（https://cloud.tencent.com/document/product/269/1500#.E8.B5.84.E6.96.99.E5.AD.97.E6.AE.B5）
                  ResultCode:
                    type: integer
                    description: To_Account 的处理结果，0表示成功，非0表示失败
                  ResultInfo:
                    type: string
                    description: To_Account 的错误描述信息，成功时该字段为空
            Fail_Account:
              type: array
              description: 返回处理失败的用户列表，仅当存在失败用户时才返回该字段
              items:
                type: string
            ErrorDisplay:
              type: string
              description: 详细的客户端展示信息
    # 关系链管理
    FriendAddRequest:
      type: object
      required: [ From_Account,AddFriendItem ]
      properties:
        From_Account:
          type: string
          description: 需要为该 UserID 添加好友
        AddFriendItem:
          type: array
          description: 好友结构体对象
          items:
            type: object
            required: [ To_Account,AddSource ]
            properties:
              To_Account:
                type: string
                description: 好友的 UserID
              Remark:
                type: string
                description: From_Account 对 To_Account 的好友备注，详情可参见 标配好友字段(https://cloud.tencent.com/document/product/269/1501#.E6.A0.87.E9.85.8D.E5.A5.BD.E5.8F.8B.E5.AD.97.E6.AE.B5)
              GroupName:
                type: string
                description: From_Account 对 To_Account 的分组信息，添加好友时只允许设置一个分组，因此使用 String 类型即可，详情可参见 标配好友字段（https://cloud.tencent.com/document/product/269/1501#.E6.A0.87.E9.85.8D.E5.A5.BD.E5.8F.8B.E5.AD.97.E6.AE.B5）
              AddSource:
                type: string
                description: 加好友来源字段，详情可参见 标配好友字段（https://cloud.tencent.com/document/product/269/1501#.E6.A0.87.E9.85.8D.E5.A5.BD.E5.8F.8B.E5.AD.97.E6.AE.B5）
              AddWording:
                type: string
                description: From_Account 和 To_Account 形成好友关系时的附言信息，详情可参见 标配好友字段（标配好友字段）
        AddType:
          type: string
          description: 加好友方式（默认双向加好友方式）：Add_Type_Single 表示单向加好友 Add_Type_Both 表示双向加好友
        ForceAddFlags:
          type: integer
          description: 管理员强制加好友标记：1表示强制加好友，0表示常规加好友方式
          enum:
            - 0
            - 1
    FriendAddResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            ResultItem:
              type: array
              description: 批量加好友的结果对象数组
              items:
                type: object
                properties:
                  To_Account:
                    type: string
                    description: 请求添加的好友的 UserID
                  ResultCode:
                    type: integer
                    description: To_Account 的处理结果，0表示成功，非0表示失败，非0取值的详细描述请参见 错误码说明（https://cloud.tencent.com/document/product/269/1643#ErrorCode）
                  ResultInfo:
                    type: string
                    description: To_Account 的错误描述信息，成功时该字段为空
            Fail_Account:
              type: array
              description: 返回处理失败的用户列表，仅当存在失败用户时才返回该字段
              items:
                type: string
            ErrorDisplay:
              type: string
              description: 详细的客户端展示信息

    FriendImportRequest:
      type: object
      required: [ From_Account,AddFriendItem ]
      properties:
        From_Account:
          type: string
          description: 需要为该 UserID 添加好友
        AddFriendItem:
          type: array
          description: 好友结构体对象
          items:
            type: object
            required: [ To_Account,AddSource ]
            properties:
              To_Account:
                type: string
                description: 好友的 UserID
              Remark:
                type: string
                description: From_Account 对 To_Account 的好友备注，详情可参见 标配好友字段(https://cloud.tencent.com/document/product/269/1501#.E6.A0.87.E9.85.8D.E5.A5.BD.E5.8F.8B.E5.AD.97.E6.AE.B5)
              RemarkTime:
                type: integer
                description: From_Account 对 To_Account 的好友备注时间
              GroupName:
                type: array
                description: From_Account 对 To_Account 的分组信息，详情可参见 标配好友字段(https://cloud.tencent.com/document/product/269/1501#.E6.A0.87.E9.85.8D.E5.A5.BD.E5.8F.8B.E5.AD.97.E6.AE.B5)
                items:
                  type: string
              AddSource:
                type: string
                description: 加好友来源字段，详情可参见 标配好友字段（https://cloud.tencent.com/document/product/269/1501#.E6.A0.87.E9.85.8D.E5.A5.BD.E5.8F.8B.E5.AD.97.E6.AE.B5）
              AddWording:
                type: string
                description: From_Account 和 To_Account 形成好友关系时的附言信息，详情可参见 标配好友字段（标配好友字段）
              AddTime:
                type: integer
                description: From_Account 和 To_Account 形成好友关系的时间
              CustomItem:
                type: array
                description: From_Account 对 To_Account 的自定义好友数据，每一个成员都包含一个 Tag 字段和一个 Value 字段，详情可参见 自定义好友字段（https://cloud.tencent.com/document/product/269/1501#.E8.87.AA.E5.AE.9A.E4.B9.89.E5.A5.BD.E5.8F.8B.E5.AD.97.E6.AE.B5）
                items:
                  type: object
                  description: From_Account 对 To_Account 的自定义好友数据，每一个成员都包含一个 Tag 字段和一个 Value 字段，详情可参见 自定义好友字段（https://cloud.tencent.com/document/product/269/1501#.E8.87.AA.E5.AE.9A.E4.B9.89.E5.A5.BD.E5.8F.8B.E5.AD.97.E6.AE.B5）
                  properties:
                    Tag:
                      type: string
                      description: 自定义好友字段的名称，使用前请通过即时通信 IM 控制台 >【应用配置】>【功能配置】申请自定义好友字段
                    Value:
                      type: string
                      description: 自定义好友字段的值
    FriendImportResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            ResultItem:
              type: array
              description: 批量加好友的结果对象数组
              items:
                type: object
                properties:
                  To_Account:
                    type: string
                    description: 请求添加的好友的 UserID
                  ResultCode:
                    type: integer
                    description: To_Account 的处理结果，0表示成功，非0表示失败，非0取值的详细描述请参见 错误码说明（https://cloud.tencent.com/document/product/269/1643#ErrorCode）
                  ResultInfo:
                    type: string
                    description: To_Account 的错误描述信息，成功时该字段为空
            Fail_Account:
              type: array
              description: 返回处理失败的用户列表，仅当存在失败用户时才返回该字段
              items:
                type: string
            ErrorDisplay:
              type: string
              description: 详细的客户端展示信息

    FriendUpdateRequest:
      type: object
      required: [ From_Account,UpdateItem ]
      properties:
        From_Account:
          type: string
          description: 需要更新该 UserID 的关系链数据
        UpdateItem:
          type: array
          description: 需要更新的好友对象数组
          items:
            type: object
            required: [ To_Account,SnsItem ]
            properties:
              To_Account:
                type: string
                description: 好友的 UserID
              SnsItem:
                type: array
                description: 需要更新的关系链数据对象数组
                items:
                  type: object
                  required: [ Tag,Value ]
                  properties:
                    Tag:
                      type: string
                      description: 需要更新的关系链字段的字段名，目前只支持好友备注、好友分组、关系链自定义字段的更新操作，关系链字段的详细信息可参见 好友表（https://cloud.tencent.com/document/product/269/1501#.E5.A5.BD.E5.8F.8B.E8.A1.A8）
                    Value:
                      type: string
                      description: 需要更新的关系链字段的值，关系链字段的值类型信息可参见 好友表（https://cloud.tencent.com/document/product/269/1501#.E5.A5.BD.E5.8F.8B.E8.A1.A8）
    FriendUpdateResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            ResultItem:
              type: array
              description: 批量更新好友的结果对象数组
              items:
                type: object
                properties:
                  To_Account:
                    type: string
                    description: 请求更新的好友的 UserID
                  ResultCode:
                    type: integer
                    description: To_Account 的处理结果，0表示成功，非0表示失败，非0取值的详细描述请参见 错误码说明（https://cloud.tencent.com/document/product/269/1643#ErrorCode）
                  ResultInfo:
                    type: string
                    description: To_Account 的错误描述信息，成功时该字段为空
            Fail_Account:
              type: array
              description: 返回处理失败的用户列表，仅当存在失败用户时才返回该字段
              items:
                type: string
            ErrorDisplay:
              type: string
              description: 详细的客户端展示信息

    FriendDeleteRequest:
      type: object
      required: [ From_Account,UpdateItem ]
      properties:
        From_Account:
          type: string
          description: 需要删除该 UserID 的好友
        To_Account:
          type: array
          description: 待删除的好友的 UserID 列表，单次请求的 To_Account 数不得超过1000
          maxItems: 1000
          items:
            type: string
        DeleteType:
          type: string
          description: 删除模式，详情可参见 删除好友（https://cloud.tencent.com/document/product/269/1501#.E5.88.A0.E9.99.A4.E5.A5.BD.E5.8F.8B）
    FriendDeleteResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            ResultItem:
              type: array
              description: 批量删除好友的结果对象数组
              items:
                type: object
                properties:
                  To_Account:
                    type: string
                    description: 请求删除的好友的 UserID
                  ResultCode:
                    type: integer
                    description: To_Account 的处理结果，0表示成功，非0表示失败，非0取值的详细描述请参见 错误码说明（https://cloud.tencent.com/document/product/269/1643#ErrorCode）
                  ResultInfo:
                    type: string
                    description: To_Account 的错误描述信息，成功时该字段为空
            ErrorDisplay:
              type: string
              description: 详细的客户端展示信息

    FriendDeleteAllRequest:
      type: object
      required: [ From_Account ]
      properties:
        From_Account:
          type: string
          description: 指定要清除好友数据的用户的 UserID
        DeleteType:
          type: string
          description: 删除模式，默认删除单向好友，详情可参见 删除好友（https://cloud.tencent.com/document/product/269/1501#.E5.88.A0.E9.99.A4.E5.A5.BD.E5.8F.8B）
    FriendDeleteAllResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            ErrorDisplay:
              type: string
              description: 详细的客户端展示信息

    FriendCheckRequest:
      type: object
      required: [ From_Account,To_Account,CheckType ]
      properties:
        From_Account:
          type: string
          description: 需要校验该 UserID 的好友
        To_Account:
          type: array
          description: 请求校验的好友的 UserID 列表，单次请求的 To_Account 数不得超过1000
          maxItems: 1000
          items:
            type: string
        CheckType:
          type: string
          description: 校验模式，详情可参见 校验好友（https://cloud.tencent.com/document/product/269/1501#.E6.A0.A1.E9.AA.8C.E5.A5.BD.E5.8F.8B）
    FriendCheckResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            InfoItem:
              type: array
              description: 校验结果对象数组
              items:
                type: object
                properties:
                  To_Account:
                    type: string
                    description: 请求校验的用户的 UserID
                  Relation:
                    type: string
                    description: 校验成功时 To_Account 与 From_Account 之间的好友关系，详情可参见 校验好友（https://cloud.tencent.com/document/product/269/1501#.E6.A0.A1.E9.AA.8C.E5.A5.BD.E5.8F.8B）
                  ResultCode:
                    type: integer
                    description: To_Account 的处理结果，0表示成功，非0表示失败，非0取值的详细描述请参见 错误码说明（https://cloud.tencent.com/document/product/269/1643#ErrorCode）
                  ResultInfo:
                    type: string
                    description: To_Account 的错误描述信息，成功时该字段为空
            Fail_Account:
              type: array
              description: 返回处理失败的用户列表，仅当存在失败用户时才返回该字段
              items:
                type: string
            ErrorDisplay:
              type: string
              description: 详细的客户端展示信息

    FriendGetRequest:
      type: object
      required: [ From_Account,StartIndex ]
      properties:
        From_Account:
          type: string
          description: 指定要拉取好友数据的用户的 UserID
        StartIndex:
          type: integer
          description: 分页的起始位置
        StandardSequence:
          type: integer
          description: 上次拉好友数据时返回的 StandardSequence，如果 StandardSequence 字段的值与后台一致，后台不会返回标配好友数据
        CustomSequence:
          type: integer
          description: 上次拉好友数据时返回的 CustomSequence，如果 CustomSequence 字段的值与后台一致，后台不会返回自定义好友数据
    FriendGetResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            ResultItem:
              type: array
              items:
                type: object
                properties:
                  ResultCode:
                    type: integer
                  ResultInfo:
                    type: string
                    description: To_Account 的错误描述信息，成功时该字段为空
                  To_Account:
                    type: string
                    description: 请求添加为黑名单的用户 UserID
            Fail_Account:
              type: array
              items:
                type: string
              description: 返回处理失败的用户列表，仅当存在失败用户时才返回该字段
            ErrorDisplay:
              type: integer
              description: 详细的客户端展示信息

    FriendGetListRequest:
      type: object
      required: [ From_Account,To_Account,TagList ]
      properties:
        From_Account:
          type: string
          description: 指定要拉取好友数据的用户的 UserID
        To_Account:
          type: array
          description: 好友的 UserID 列表 建议每次请求的好友数不超过100，避免因数据量太大导致回包失败
          items:
            type: string
        TagList:
          type: array
          description: 指定要拉取的资料字段及好友字段：标配资料字段（https://cloud.tencent.com/document/product/269/1500#.E6.A0.87.E9.85.8D.E8.B5.84.E6.96.99.E5.AD.97.E6.AE.B5）、自定义资料字段（https://cloud.tencent.com/document/product/269/1500#.E8.87.AA.E5.AE.9A.E4.B9.89.E8.B5.84.E6.96.99.E5.AD.97.E6.AE.B5）、标配好友字段（https://cloud.tencent.com/document/product/269/1501#.E6.A0.87.E9.85.8D.E5.A5.BD.E5.8F.8B.E5.AD.97.E6.AE.B5）、自定义好友字段（https://cloud.tencent.com/document/product/269/1501#.E8.87.AA.E5.AE.9A.E4.B9.89.E5.A5.BD.E5.8F.8B.E5.AD.97.E6.AE.B5）
          items:
            type: string
    FriendGetListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            InfoItem:
              type: array
              description: 好友对象数组，每一个好友对象都包含一个 To_Account 字段和一个 SnsProfileItem 数组
              items:
                type: object
                properties:
                  To_Account:
                    type: string
                    description: 请求校验的用户的 UserID
                  SnsProfileItem:
                    type: array
                    description: 保存好友数据的数组，数组每一个元素都包含一个 Tag 字段和一个 Value 字段
                    items:
                      type: object
                      properties:
                        Tag:
                          type: string
                          description: 字段的名称
                        Value:
                          type: string
                          description: 字段的值
                  ResultCode:
                    type: integer
                    description: To_Account 的处理结果，0表示成功，非0表示失败，非0取值的详细描述请参见 错误码说明（https://cloud.tencent.com/document/product/269/1643#ErrorCode）
                  ResultInfo:
                    type: string
                    description: To_Account 的错误描述信息，成功时该字段为空
            Fail_Account:
              type: array
              description: 返回处理失败的 UserID 列表，仅当存在失败用户时才返回该字段
              items:
                type: string
            ErrorDisplay:
              type: string
              description: 详细的客户端展示信息

    BlackListAddRequest:
      type: object
      required: [ From_Account,To_Account ]
      properties:
        From_Account:
          type: string
          description: 请求为该 UserID 添加黑名单
        To_Account:
          type: array
          description: 待添加为黑名单的用户 UserID 列表，单次请求的 To_Account 数不得超过1000
          items:
            type: string
    BlackListAddResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            ResultItem:
              type: array
              description: 批量添加黑名单的结果对象数组
              items:
                type: object
                properties:
                  To_Account:
                    type: string
                    description: 请求添加为黑名单的用户 UserID
                  ResultCode:
                    type: integer
                    description: To_Account 的处理结果，0表示成功，非0表示失败，非0取值的详细描述请参见 错误码说明（https://cloud.tencent.com/document/product/269/3719#ErrorCode）
                  ResultInfo:
                    type: string
                    description: To_Account 的错误描述信息，成功时该字段为空
            Fail_Account:
              type: array
              description: 返回处理失败的用户列表，仅当存在失败用户时才返回该字段
              items:
                type: string
            ErrorDisplay:
              type: string
              description: 详细的客户端展示信息

    BlackListDeleteRequest:
      type: object
      required: [ From_Account,To_Account ]
      properties:
        From_Account:
          type: string
          description: 需要删除该 UserID 的黑名单
        To_Account:
          type: array
          maxItems: 1000
          description: 待删除的黑名单的 UserID 列表，单次请求的 To_Account 数不得超过1000
          items:
            type: string
    BlackListDeleteResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            ResultItem:
              type: array
              description: 批量删除黑名单的结果对象数组
              items:
                type: object
                properties:
                  To_Account:
                    type: string
                    description: 请求删除的黑名单的 UserID
                  ResultCode:
                    type: integer
                    description: To_Account 的处理结果，0表示成功，非0表示失败，非0取值的详细描述请参见 错误码说明（https://cloud.tencent.com/document/product/269/3719#ErrorCode）
                  ResultInfo:
                    type: string
                    description: To_Account 的错误描述信息，成功时该字段为空
            Fail_Account:
              type: array
              description: 返回处理失败的用户列表，仅当存在失败用户时才返回该字段
              items:
                type: string
            ErrorDisplay:
              type: string
              description: 详细的客户端展示信息

    BlackListGetRequest:
      type: object
      required: [ From_Account,StartIndex,MaxLimited,LastSequence ]
      properties:
        From_Account:
          type: string
          description: 需要拉取该 UserID 的黑名单
        StartIndex:
          type: integer
          description: 拉取的起始位置
        MaxLimited:
          type: integer
          description: 每页最多拉取的黑名单数
        LastSequence:
          type: integer
          description: 上一次拉黑名单时后台返回给客户端的 Seq，初次拉取时为0
    BlackListGetResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            BlackListItem:
              type: array
              description: 黑名单对象数组，每一个黑名单对象都包括了 To_Account 和 AddBlackTimeStamp
              items:
                type: object
                properties:
                  To_Account:
                    type: string
                    description: 黑名单的 UserID
                  AddBlackTimeStamp:
                    type: integer
                    description: 添加黑名单的时间
            StartIndex:
              type: integer
[...]
