openapi: 3.0.3
info:
  description: TIM REST API
  title: TIM SERVER REST API SDK
  version: 1.0.0
servers:
- url: https://console.tim.qq.com
tags:
- description: 帐号管理
  name: account
- description: 单聊消息
  name: single_chat
- description: 全员推送
  name: all_member_push
- description: 资料管理
  name: portrait
- description: 关系链管理
  name: relationships
- description: 最近联系人
  name: recent_contact
- description: 群组管理
  name: group
- description: 全局禁言管理
  name: mute
- description: 运营管理
  name: operation
paths:
  /v4/im_open_login_svc/account_import:
    post:
      operationId: account_import
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountImportRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 导入单个帐号（https://cloud.tencent.com/document/product/269/1608）
      tags:
      - account
      x-content-type: application/json
      x-accepts: application/json
  /v4/im_open_login_svc/multiaccount_import:
    post:
      operationId: multi_account_import
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiAccountImportRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiAccountImportResponse'
          description: 正常响应
      summary: 导入多个帐号（https://cloud.tencent.com/document/product/269/4919）
      tags:
      - account
      x-content-type: application/json
      x-accepts: application/json
  /v4/im_open_login_svc/account_delete:
    post:
      operationId: account_delete
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountDeleteRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDeleteResponse'
          description: 正常响应
      summary: 删除帐号（https://cloud.tencent.com/document/product/269/36443）
      tags:
      - account
      x-content-type: application/json
      x-accepts: application/json
  /v4/im_open_login_svc/account_check:
    post:
      operationId: account_check
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCheckRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCheckResponse'
          description: 正常响应
      summary: 查询帐号 (https://cloud.tencent.com/document/product/269/38417)
      tags:
      - account
      x-content-type: application/json
      x-accepts: application/json
  /v4/im_open_login_svc/kick:
    post:
      operationId: kick
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KickRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 失效帐号登录状态（https://cloud.tencent.com/document/product/269/3853）
      tags:
      - account
      x-content-type: application/json
      x-accepts: application/json
  /v4/openim/query_online_status:
    post:
      operationId: query_online_status
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryOnlineStatusRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryOnlineStatusResponse'
          description: 正常响应
      summary: 查询帐号在线状态（https://cloud.tencent.com/document/product/269/2566）
      tags:
      - account
      x-content-type: application/json
      x-accepts: application/json
  /v4/openim/sendmsg:
    post:
      operationId: sendmsg
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendSingleChatMsgRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendSingleChatMsgResponse'
          description: 正常响应
      summary: 单发单聊消息（https://cloud.tencent.com/document/product/269/2282）
      tags:
      - single_chat
      x-content-type: application/json
      x-accepts: application/json
  /v4/openim/batchsendmsg:
    post:
      operationId: batchsendmsg
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchSendSingleChatMsgRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchSendSingleChatMsgResponse'
          description: 正常响应
      summary: 批量发单聊消息（https://cloud.tencent.com/document/product/269/1612）
      tags:
      - single_chat
      x-content-type: application/json
      x-accepts: application/json
  /v4/openim/importmsg:
    post:
      operationId: importmsg
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportMsgRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 导入单聊消息（https://cloud.tencent.com/document/product/269/2568）
      tags:
      - single_chat
      x-content-type: application/json
      x-accepts: application/json
  /v4/openim/admin_getroammsg:
    post:
      operationId: admin_getroammsg
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRoamMsgRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRoamMsgResponse'
          description: 正常响应
      summary: 查询单聊消息（https://cloud.tencent.com/document/product/269/42794）
      tags:
      - single_chat
      x-content-type: application/json
      x-accepts: application/json
  /v4/openim/admin_msgwithdraw:
    post:
      operationId: admin_msgwithdraw
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MsgWithdrawRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 撤回单聊消息（https://cloud.tencent.com/document/product/269/38980）
      tags:
      - single_chat
      x-content-type: application/json
      x-accepts: application/json
  /v4/openim/admin_set_msg_read:
    post:
      operationId: admin_set_msg_read
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetMsgReadRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 设置单聊消息已读（https://cloud.tencent.com/document/product/269/50349）
      tags:
      - single_chat
      x-content-type: application/json
      x-accepts: application/json
  /v4/openim/get_c2c_unread_msg_num:
    post:
      operationId: get_c2c_unread_msg_num
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetC2cUnreadMsgNumRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetC2cUnreadMsgNumResponse'
          description: 正常响应
      summary: 查询单聊未读消息计数（https://cloud.tencent.com/document/product/269/56043）
      tags:
      - single_chat
      x-content-type: application/json
      x-accepts: application/json
  /v4/all_member_push/im_push:
    post:
      operationId: im_push
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImPushRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImPushResponse'
          description: 正常响应
      summary: 全员推送（https://cloud.tencent.com/document/product/269/45934）
      tags:
      - all_member_push
      x-content-type: application/json
      x-accepts: application/json
  /v4/all_member_push/im_set_attr_name:
    post:
      operationId: im_set_attr_name
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImSetAttrNameRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 设置应用属性名称（https://cloud.tencent.com/document/product/269/45935）
      tags:
      - all_member_push
      x-content-type: application/json
      x-accepts: application/json
  /v4/all_member_push/im_get_attr_name:
    post:
      operationId: im_get_attr_name
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImGetAttrNameRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImGetAttrNameResponse'
          description: 正常响应
      summary: 获取应用属性名称（https://cloud.tencent.com/document/product/269/45936）
      tags:
      - all_member_push
      x-content-type: application/json
      x-accepts: application/json
  /v4/all_member_push/im_get_attr:
    post:
      operationId: im_get_attr
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImGetAttrRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImGetAttrResponse'
          description: 正常响应
      summary: 获取用户属性（https://cloud.tencent.com/document/product/269/45937）
      tags:
      - all_member_push
      x-content-type: application/json
      x-accepts: application/json
  /v4/all_member_push/im_set_attr:
    post:
      operationId: im_set_attr
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImSetAttrRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 设置用户属性（https://cloud.tencent.com/document/product/269/45938）
      tags:
      - all_member_push
      x-content-type: application/json
      x-accepts: application/json
  /v4/all_member_push/im_remove_attr:
    post:
      operationId: im_remove_attr
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImRemoveAttrRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 删除用户属性（https://cloud.tencent.com/document/product/269/45939）
      tags:
      - all_member_push
      x-content-type: application/json
      x-accepts: application/json
  /v4/all_member_push/im_get_tag:
    post:
      operationId: im_get_tag
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImGetTagRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImGetTagResponse'
          description: 正常响应
      summary: 获取用户标签（https://cloud.tencent.com/document/product/269/45940）
      tags:
      - all_member_push
      x-content-type: application/json
      x-accepts: application/json
  /v4/all_member_push/im_add_tag:
    post:
      operationId: im_add_tag
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImAddTagRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 添加用户标签（https://cloud.tencent.com/document/product/269/45941）
      tags:
      - all_member_push
      x-content-type: application/json
      x-accepts: application/json
  /v4/all_member_push/im_remove_tag:
    post:
      operationId: im_remove_tag
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImRemoveTagRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 删除用户标签（https://cloud.tencent.com/document/product/269/45942）
      tags:
      - all_member_push
      x-content-type: application/json
      x-accepts: application/json
  /v4/all_member_push/im_remove_all_tags:
    post:
      operationId: im_remove_all_tags
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImRemoveAllTagRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 删除用户所有标签（https://cloud.tencent.com/document/product/269/45943）
      tags:
      - all_member_push
      x-content-type: application/json
      x-accepts: application/json
  /v4/profile/portrait_set:
    post:
      operationId: portrait_set
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortraitSetRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortraitSetResponse'
          description: 正常响应
      summary: 设置资料（https://cloud.tencent.com/document/product/269/1640）
      tags:
      - portrait
      x-content-type: application/json
      x-accepts: application/json
  /v4/profile/portrait_get:
    post:
      operationId: portrait_get
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortraitGetRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortraitGetResponse'
          description: 正常响应
      summary: 拉取资料（https://cloud.tencent.com/document/product/269/1639）
      tags:
      - portrait
      x-content-type: application/json
      x-accepts: application/json
  /v4/sns/friend_add:
    post:
      operationId: friend_add
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FriendAddRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendAddResponse'
          description: 正常响应
      summary: 添加好友（https://cloud.tencent.com/document/product/269/1643）
      tags:
      - relationships
      x-content-type: application/json
      x-accepts: application/json
  /v4/sns/friend_import:
    post:
      operationId: friend_import
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FriendImportRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendImportResponse'
          description: 正常响应
      summary: 导入好友（https://cloud.tencent.com/document/product/269/8301）
      tags:
      - relationships
      x-content-type: application/json
      x-accepts: application/json
  /v4/sns/friend_update:
    post:
      operationId: friend_update
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FriendUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendUpdateResponse'
          description: 正常响应
      summary: 更新好友（https://cloud.tencent.com/document/product/269/12525）
      tags:
      - relationships
      x-content-type: application/json
      x-accepts: application/json
  /v4/sns/friend_delete:
    post:
      operationId: friend_delete
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FriendDeleteRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendDeleteResponse'
          description: 正常响应
      summary: 删除好友（https://cloud.tencent.com/document/product/269/1644）
      tags:
      - relationships
      x-content-type: application/json
      x-accepts: application/json
  /v4/sns/friend_delete_all:
    post:
      operationId: friend_delete_all
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FriendDeleteAllRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendDeleteAllResponse'
          description: 正常响应
      summary: 删除所有好友（https://cloud.tencent.com/document/product/269/1645）
      tags:
      - relationships
      x-content-type: application/json
      x-accepts: application/json
  /v4/sns/friend_check:
    post:
      operationId: friend_check
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FriendCheckRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendCheckResponse'
          description: 正常响应
      summary: 校验好友（https://cloud.tencent.com/document/product/269/1646）
      tags:
      - relationships
      x-content-type: application/json
      x-accepts: application/json
  /v4/sns/friend_get:
    post:
      operationId: friend_get
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FriendGetRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendGetResponse'
          description: 正常响应
      summary: 拉取好友（https://cloud.tencent.com/document/product/269/1647）
      tags:
      - relationships
      x-content-type: application/json
      x-accepts: application/json
  /v4/sns/friend_get_list:
    post:
      operationId: friend_get_list
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FriendGetListRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendGetListResponse'
          description: 正常响应
      summary: 拉取指定好友（https://cloud.tencent.com/document/product/269/8609）
      tags:
      - relationships
      x-content-type: application/json
      x-accepts: application/json
  /v4/sns/black_list_add:
    post:
      operationId: black_list_add
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlackListAddRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlackListAddResponse'
          description: 正常响应
      summary: 添加黑名单（https://cloud.tencent.com/document/product/269/3718）
      tags:
      - relationships
      x-content-type: application/json
      x-accepts: application/json
  /v4/sns/black_list_delete:
    post:
      operationId: black_list_delete
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlackListDeleteRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlackListDeleteResponse'
          description: 正常响应
      summary: 删除黑名单（https://cloud.tencent.com/document/product/269/3719）
      tags:
      - relationships
      x-content-type: application/json
      x-accepts: application/json
  /v4/sns/black_list_get:
    post:
      operationId: black_list_get
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlackListGetRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlackListGetResponse'
          description: 正常响应
      summary: 拉取黑名单（https://cloud.tencent.com/document/product/269/3722）
      tags:
      - relationships
      x-content-type: application/json
      x-accepts: application/json
  /v4/sns/black_list_check:
    post:
      operationId: black_list_check
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlackListCheckRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlackListCheckResponse'
          description: 正常响应
      summary: 校验黑名单（https://cloud.tencent.com/document/product/269/3725）
      tags:
      - relationships
      x-content-type: application/json
      x-accepts: application/json
  /v4/sns/group_add:
    post:
      operationId: group_add
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupAddRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupAddResponse'
          description: 正常响应
      summary: 添加分组（https://cloud.tencent.com/document/product/269/10107）
      tags:
      - relationships
      x-content-type: application/json
      x-accepts: application/json
  /v4/sns/group_delete:
    post:
      operationId: group_delete
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupDeleteRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDeleteResponse'
          description: 正常响应
      summary: 删除分组（https://cloud.tencent.com/document/product/269/10108）
      tags:
      - relationships
      x-content-type: application/json
      x-accepts: application/json
  /v4/sns/group_get:
    post:
      operationId: group_get
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupGetRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupGetResponse'
          description: 正常响应
      summary: 拉取分组（https://cloud.tencent.com/document/product/269/54763）
      tags:
      - relationships
      x-content-type: application/json
      x-accepts: application/json
  /v4/recentcontact/get_list:
    post:
      operationId: get_recent_contact_list
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRecentContactListGroupGetRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRecentContactListGroupGetResponse'
          description: 正常响应
      summary: 拉取会话列表（https://cloud.tencent.com/document/product/269/62118）
      tags:
      - recent_contact
      x-content-type: application/json
      x-accepts: application/json
  /v4/recentcontact/delete:
    post:
      operationId: delete_recent_contact
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRecentContactListGroupDeleteRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRecentContactListGroupDeleteResponse'
          description: 正常响应
      summary: 删除单个会话（https://cloud.tencent.com/document/product/269/62119）
      tags:
      - recent_contact
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/get_appid_group_list:
    post:
      operationId: get_appid_group_list
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAppidGroupListRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAppidGroupListResponse'
          description: 正常响应
      summary: 获取 App 中的所有群组（https://cloud.tencent.com/document/product/269/1614）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/create_group:
    post:
      operationId: create_group
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateGroupResponse'
          description: 正常响应
      summary: 创建群组（https://cloud.tencent.com/document/product/269/1615）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/get_group_info:
    post:
      operationId: get_group_info
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetGroupInfoRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGroupInfoResponse'
          description: 正常响应
      summary: 获取群详细资料（https://cloud.tencent.com/document/product/269/1616）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/get_group_member_info:
    post:
      operationId: get_group_member_info
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetGroupMemberInfoRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGroupMemberInfoResponse'
          description: 正常响应
      summary: 获取群成员详细资料（https://cloud.tencent.com/document/product/269/1617）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/modify_group_base_info:
    post:
      operationId: modify_group_base_info
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyGroupBaseInfoRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 修改群基础资料（https://cloud.tencent.com/document/product/269/1620）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/add_group_member:
    post:
      operationId: add_group_member
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddGroupMemberRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddGroupMemberResponse'
          description: 正常响应
      summary: 增加群成员（https://cloud.tencent.com/document/product/269/1621）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/delete_group_member:
    post:
      operationId: delete_group_member
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteGroupMemberRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 删除群成员（https://cloud.tencent.com/document/product/269/1622）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/modify_group_member_info:
    post:
      operationId: modify_group_member_info
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyGroupMemberInfoRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 修改群成员资料(https://cloud.tencent.com/document/product/269/1623)
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/destroy_group:
    post:
      operationId: destroy_group
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DestroyGroupRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 解散群组(https://cloud.tencent.com/document/product/269/1624)
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/get_joined_group_list:
    post:
      operationId: get_joined_group_list
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetJoinedGroupListRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJoinedGroupListResponse'
          description: 正常响应
      summary: 获取用户所加入的群组(https://cloud.tencent.com/document/product/269/1625)
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/get_role_in_group:
    post:
      operationId: get_role_in_group
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRoleInGroupRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRoleInGroupResponse'
          description: 正常响应
      summary: 查询用户在群组中的身份(https://cloud.tencent.com/document/product/269/1626)
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/forbid_send_msg:
    post:
      operationId: forbid_send_msg
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForbidSendMsgRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 批量禁言和取消禁言(https://cloud.tencent.com/document/product/269/1627)
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/get_group_shutted_uin:
    post:
      operationId: get_group_shutted_uin
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetGroupShuttedUinRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGroupShuttedUinResponse'
          description: 正常响应
      summary: 获取被禁言群成员列表(https://cloud.tencent.com/document/product/269/2925)
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/send_group_msg:
    post:
      operationId: send_group_msg
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendGroupMsgRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendGroupMsgResponse'
          description: 正常响应
      summary: 在群组中发送普通消息（https://cloud.tencent.com/document/product/269/1629）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/send_group_system_notification:
    post:
      operationId: send_group_system_notification
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendGroupSystemNotificationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 在群组中发送系统通知（https://cloud.tencent.com/document/product/269/1630）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/change_group_owner:
    post:
      operationId: change_group_owner
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeGroupOwnerRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 转让群主（https://cloud.tencent.com/document/product/269/1633）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/group_msg_recall:
    post:
      operationId: group_msg_recall
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupMsgRecallRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMsgRecallResponse'
          description: 正常响应
      summary: 撤回群消息（https://cloud.tencent.com/document/product/269/12341）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/import_group:
    post:
      operationId: import_group
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportGroupRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportGroupResponse'
          description: 正常响应
      summary: 导入群基础资料（https://cloud.tencent.com/document/product/269/1634）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/import_group_msg:
    post:
      operationId: import_group_msg
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportGroupMsgRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportGroupMsgResponse'
          description: 正常响应
      summary: 导入群消息（https://cloud.tencent.com/document/product/269/1635）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/import_group_member:
    post:
      operationId: import_group_member
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportGroupMemberRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportGroupMemberResponse'
          description: 正常响应
      summary: 导入群成员（https://cloud.tencent.com/document/product/269/1636）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/set_unread_msg_num:
    post:
      operationId: set_unread_msg_num
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetUnreadMsgNumRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 设置成员未读消息计数（https://cloud.tencent.com/document/product/269/1637）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/delete_group_msg_by_sender:
    post:
      operationId: delete_group_msg_by_sender
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteGroupMsgBySenderRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 删除指定用户发送的消息（https://cloud.tencent.com/document/product/269/2359）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/group_msg_get_simple:
    post:
      operationId: group_msg_get_simple
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupMsgGetSimpleRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMsgGetSimpleResponse'
          description: 正常响应
      summary: 拉取群历史消息（https://cloud.tencent.com/document/product/269/2738）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/get_online_member_num:
    post:
      operationId: get_online_member_num
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOnlineMemberNumRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOnlineMemberNumResponse'
          description: 正常响应
      summary: 获取直播群在线人数（https://cloud.tencent.com/document/product/269/49180）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/get_group_attr:
    post:
      operationId: get_group_attr
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetGroupAttrRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGroupAttrResponse'
          description: 正常响应
      summary: 获取群自定义属性（https://cloud.tencent.com/document/product/269/67012）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/modify_group_attr:
    post:
      operationId: modify_group_attr
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyGroupAttrRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 修改群自定义属性（https://cloud.tencent.com/document/product/269/67010）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/clear_group_attr:
    post:
      operationId: clear_group_attr
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClearGroupAttrRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 清空群自定义属性（https://cloud.tencent.com/document/product/269/67009）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/group_open_http_svc/set_group_attr:
    post:
      operationId: set_group_attr
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetGroupAttrRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 重置群自定义属性（https://cloud.tencent.com/document/product/269/67011）
      tags:
      - group
      x-content-type: application/json
      x-accepts: application/json
  /v4/openconfigsvr/setnospeaking:
    post:
      operationId: setnospeaking
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetNoSpeakingRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
          description: 正常响应
      summary: 设置全局禁言（https://cloud.tencent.com/document/product/269/4230）
      tags:
      - mute
      x-content-type: application/json
      x-accepts: application/json
  /v4/openconfigsvr/getnospeaking:
    post:
      operationId: getnospeaking
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetNoSpeakingRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNoSpeakingResponse'
          description: 正常响应
      summary: 查询全局禁言（https://cloud.tencent.com/document/product/269/4229）
      tags:
      - mute
      x-content-type: application/json
      x-accepts: application/json
  /v4/openconfigsvr/getappinfo:
    post:
      operationId: getappinfo
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAppInfoRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAppInfoResponse'
          description: 正常响应
      summary: 拉取运营数据（https://cloud.tencent.com/document/product/269/4193）
      tags:
      - operation
      x-content-type: application/json
      x-accepts: application/json
  /v4/open_msg_svc/get_history:
    post:
      operationId: get_history
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOperateMsgHistoryRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOperateMsgHistoryResponse'
          description: 正常响应
      summary: 下载最近消息记录（https://cloud.tencent.com/document/product/269/1650）
      tags:
      - operation
      x-content-type: application/json
      x-accepts: application/json
  /v4/ConfigSvc/GetIPList:
    post:
      operationId: GetIPList
      parameters:
      - explode: true
        in: query
        name: random
        required: true
        schema:
          format: uint32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetIPListRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIPListResponse'
          description: 正常响应
      summary: 获取服务器 IP 地址（https://cloud.tencent.com/document/product/269/45438）
      tags:
      - operation
      x-content-type: application/json
      x-accepts: application/json
components:
  parameters:
    UserSig:
      explode: true
      in: query
      name: usersig
      required: true
      schema:
        type: string
      style: form
    Identifier:
      explode: true
      in: query
      name: identifier
      required: true
      schema:
        type: string
      style: form
    SdkAppId:
      explode: true
      in: query
      name: sdkappid
      required: true
      schema:
        type: string
      style: form
    ContentType:
      explode: true
      in: query
      name: contenttype
      required: true
      schema:
        default: json
        type: string
      style: form
    Random:
      explode: true
      in: query
      name: random
      required: true
      schema:
        format: uint32
        type: integer
      style: form
    Key:
      explode: true
      in: query
      name: key
      required: true
      schema:
        type: string
      style: form
  schemas:
    GroupType:
      enum:
      - Work
      - Private
      - Public
      - Meeting
      - ChatRoom
      - AVChatRoom
      - Community
      type: string
    DefinedData:
      example:
        Value: Value
        Key: Key
      properties:
        Key:
          type: string
        Value:
          type: string
      required:
      - Key
      - Value
      type: object
    ForbidCallbackControl:
      enum:
      - ForbidBeforeSendMsgCallback
      - ForbidAfterSendMsgCallback
      type: string
    SendMsgControl:
      enum:
      - NoLastMsg
      - NoUnread
      type: string
    OfflinePushInfo:
      example:
        Ext: Ext
        ApnsInfo:
          MutableContent: 3
          Title: Title
          BadgeMode: 9
          Image: Image
          SubTitle: SubTitle
        Desc: Desc
        AndroidInfo:
          GoogleChannelID: GoogleChannelID
          HuaWeiChannelID: HuaWeiChannelID
          XiaoMiChannelID: XiaoMiChannelID
          OPPOChannelID: OPPOChannelID
          Sound: Sound
          ExtAsHuaweiIntentParam: 7
          VIVOClassification: "0"
          HuaWeiImportance: HuaWeiImportance
        PushFlag: 2
        Title: Title
      properties:
        PushFlag:
          description: 0表示推送，1表示不离线推送。
          enum:
          - 0
          - 1
          type: integer
        Title:
          description: 离线推送标题。该字段为 iOS 和 Android 共用。
          type: string
        Desc:
          description: 离线推送内容。该字段会覆盖上面各种消息元素 TIMMsgElement 的离线推送展示文本。若发送的消息只有一个 TIMCustomElem
            自定义消息元素，该 Desc 字段会覆盖 TIMCustomElem 中的 Desc 字段。如果两个 Desc 字段都不填，将收不到该自定义消息的离线推送。
          type: string
        Ext:
          description: 离线推送透传内容。由于国内各 Android 手机厂商的推送平台要求各不一样，请保证此字段为 JSON 格式，否则可能会导致收不到某些厂商的离线推送。
          type: string
        AndroidInfo:
          $ref: '#/components/schemas/OfflinePushInfo_AndroidInfo'
        ApnsInfo:
          $ref: '#/components/schemas/OfflinePushInfo_ApnsInfo'
      type: object
    TIMMsgElement:
      discriminator:
        propertyName: MsgType
      oneOf:
      - $ref: '#/components/schemas/TIMTextElem'
      - $ref: '#/components/schemas/TIMLocationElem'
      - $ref: '#/components/schemas/TIMFaceElem'
      - $ref: '#/components/schemas/TIMCustomElem'
      - $ref: '#/components/schemas/TIMSoundElem'
      - $ref: '#/components/schemas/TIMImageElem'
      - $ref: '#/components/schemas/TIMFileElem'
      - $ref: '#/components/schemas/TIMVideoFileElem'
    TIMTextElem:
      properties:
        MsgType:
          default: TIMTextElem
          description: TIM 消息对象类型
          type: string
        MsgContent:
          $ref: '#/components/schemas/TIMTextElem_MsgContent'
      required:
      - MsgContent
      - MsgType
      type: object
    TIMLocationElem:
      properties:
        MsgType:
          default: TIMLocationElem
          type: string
        MsgContent:
          $ref: '#/components/schemas/TIMLocationElem_MsgContent'
      required:
      - MsgContent
      - MsgType
      type: object
    TIMFaceElem:
      properties:
        MsgType:
          default: TIMFaceElem
          type: string
        MsgContent:
          $ref: '#/components/schemas/TIMFaceElem_MsgContent'
      required:
      - MsgContent
      - MsgType
      type: object
    TIMCustomElem:
      properties:
        MsgType:
          default: TIMCustomElem
          type: string
        MsgContent:
          $ref: '#/components/schemas/TIMCustomElem_MsgContent'
      required:
      - MsgContent
      - MsgType
      type: object
    TIMSoundElem:
      properties:
        MsgType:
          default: TIMSoundElem
          type: string
        MsgContent:
          $ref: '#/components/schemas/TIMSoundElem_MsgContent'
      required:
      - MsgContent
      - MsgType
      type: object
    ImageInfo:
      properties:
        Type:
          enum:
          - 1
          - 2
          - 3
          type: integer
        Size:
          type: integer
        Width:
          type: integer
        Height:
          type: integer
        URL:
          type: string
      required:
      - Height
      - Size
      - Type
      - Url
      - Width
      type: object
    TIMImageElem:
      properties:
        MsgType:
          default: TIMImageElem
          type: string
        MsgContent:
          $ref: '#/components/schemas/TIMImageElem_MsgContent'
      required:
      - MsgContent
      - MsgType
      type: object
    TIMFileElem:
      properties:
        MsgType:
          default: TIMFileElem
          type: string
        MsgContent:
          $ref: '#/components/schemas/TIMFileElem_MsgContent'
      required:
      - MsgContent
      - MsgType
      type: object
    TIMVideoFileElem:
      properties:
        MsgType:
          default: TIMVideoFileElem
          type: string
        MsgContent:
          $ref: '#/components/schemas/TIMVideoFileElem_MsgContent'
      required:
      - MsgContent
      - MsgType
      type: object
    CommonResponse:
      example:
        ErrorInfo: ErrorInfo
        ErrorCode: 0
        ActionStatus: ActionStatus
      properties:
        ActionStatus:
          description: 请求处理的结果，OK 表示处理成功，FAIL 表示失败
          type: string
        ErrorInfo:
          description: 错误信息
          type: string
        ErrorCode:
          description: 错误码，0表示成功，非0表示失败
          type: integer
      required:
      - ErrorCode
      - ErrorInfo
      type: object
    AccountImportRequest:
      example:
        UserID: UserID
        Nick: Nick
        FaceUrl: FaceUrl
      properties:
        UserID:
          description: 用户名，长度不超过32字节
          maxLength: 32
          type: string
        Nick:
          description: 用户昵称
          type: string
        FaceUrl:
          description: 用户头像 URL
          type: string
      required:
      - UserID
      type: object
    MultiAccountImportRequest:
      example:
        Accounts:
        - Accounts
        - Accounts
        - Accounts
        - Accounts
        - Accounts
      properties:
        Accounts:
          description: 用户名，单个用户名长度不超过32字节，单次最多导入100个用户名
          items:
            maxLength: 32
            type: string
          maxItems: 100
          type: array
      required:
      - Accounts
      type: object
    MultiAccountImportResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/MultiAccountImportResponse_allOf'
    AccountDeleteRequest:
      example:
        DeleteItem:
        - UserID: UserID
        - UserID: UserID
        - UserID: UserID
        - UserID: UserID
        - UserID: UserID
      properties:
        DeleteItem:
          description: 请求删除的帐号对象数组，单次请求最多支持100个帐号
          items:
            $ref: '#/components/schemas/AccountDeleteRequest_DeleteItem_inner'
          maxItems: 100
          type: array
      required:
      - DeleteItem
      type: object
    AccountDeleteResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/AccountDeleteResponse_allOf'
    AccountCheckRequest:
      example:
        CheckItem:
        - UserID: UserID
        - UserID: UserID
        - UserID: UserID
        - UserID: UserID
        - UserID: UserID
      properties:
        CheckItem:
          description: 请求检查的帐号对象数组，单次请求最多支持100个帐号
          items:
            $ref: '#/components/schemas/AccountCheckRequest_CheckItem_inner'
          maxItems: 100
          type: array
      required:
      - CheckItem
      type: object
    AccountCheckResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/AccountCheckResponse_allOf'
    KickRequest:
      example:
        UserID: UserID
      properties:
        UserID:
          description: 用户名
          type: string
      required:
      - UserID
      type: object
    QueryOnlineStatusRequest:
      example:
        To_Account:
        - To_Account
        - To_Account
        - To_Account
        - To_Account
        - To_Account
        IsNeedDetail: 0
      properties:
        To_Account:
          description: 需要查询这些 UserID 的登录状态，一次最多查询500个 UserID 的状态
          items:
            type: string
          maxItems: 500
          type: array
        IsNeedDetail:
          description: 是否需要返回详细的登录平台信息。0表示不需要，1表示需要
          enum:
          - 0
          - 1
          type: integer
      required:
      - To_Account
      type: object
    QueryOnlineStatusResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/QueryOnlineStatusResponse_allOf'
    SendSingleChatMsgRequest:
      example:
        SyncOtherMachine: 0
        MsgRandom: 5
        ForbidCallbackControl:
        - ForbidCallbackControl
        - ForbidCallbackControl
        SendMsgControl:
        - SendMsgControl
        - SendMsgControl
        MsgLifeTime: 6
        MsgSeq: 1
        CloudCustomData: CloudCustomData
        To_Account: To_Account
        From_Account: From_Account
        MsgTimeStamp: 5
        MsgBody:
        - null
        - null
        OfflinePushInfo:
          Ext: Ext
          ApnsInfo:
            MutableContent: 3
            Title: Title
            BadgeMode: 9
            Image: Image
            SubTitle: SubTitle
          Desc: Desc
          AndroidInfo:
            GoogleChannelID: GoogleChannelID
            HuaWeiChannelID: HuaWeiChannelID
            XiaoMiChannelID: XiaoMiChannelID
            OPPOChannelID: OPPOChannelID
            Sound: Sound
            ExtAsHuaweiIntentParam: 7
            VIVOClassification: "0"
            HuaWeiImportance: HuaWeiImportance
          PushFlag: 2
          Title: Title
      properties:
        SyncOtherMachine:
          description: 1：把消息同步到 From_Account 在线终端和漫游上；2：消息不同步至 From_Account；若不填写默认情况下会将消息存
            From_Account 漫游
          enum:
          - 1
          - 2
          type: integer
        From_Account:
          description: 消息发送方 UserID（用于指定发送消息方帐号）
          type: string
        To_Account:
          description: 消息接收方 UserID
          type: string
        MsgLifeTime:
          description: 消息离线保存时长（单位：秒），最长为7天（604800秒） 若设置该字段为0，则消息只发在线用户，不保存离线 若设置该字段超过7天（604800秒），仍只保存7天
            若不设置该字段，则默认保存7天
          type: integer
        MsgSeq:
          description: 消息序列号（32位无符号整数），后台会根据该字段去重及进行同秒内消息的排序，详细规则请看本接口的功能说明。若不填该字段，则由后台填入随机数
          type: integer
        MsgRandom:
          description: 消息随机数（32位无符号整数），后台用于同一秒内的消息去重。请确保该字段填的是随机
          type: integer
        MsgTimeStamp:
          description: 消息时间戳，UNIX 时间戳（单位：秒）
          type: integer
        ForbidCallbackControl:
          description: 消息回调禁止开关，只对本条消息有效，ForbidBeforeSendMsgCallback 表示禁止发消息前回调，ForbidAfterSendMsgCallback
            表示禁止发消息后回调
          items:
            type: string
          type: array
        SendMsgControl:
          description: 消息发送控制选项，是一个 String 数组，只对本条消息有效。"NoUnread"表示该条消息不计入未读数。"NoLastMsg"表示该条消息不更新会话列表。"WithMuteNotifications"表示该条消息的接收方对发送方设置的免打扰选项生效（默认不生效）。
          items:
            type: string
          type: array
        MsgBody:
          items:
            $ref: '#/components/schemas/TIMMsgElement'
          type: array
        CloudCustomData:
          type: string
        OfflinePushInfo:
          $ref: '#/components/schemas/OfflinePushInfo'
      required:
      - MsgBody
      - MsgRandom
      - To_Account
      type: object
    SendSingleChatMsgResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/SendSingleChatMsgResponse_allOf'
    BatchSendSingleChatMsgRequest:
      example:
        SyncOtherMachine: 0
        MsgRandom: 5
        SendMsgControl:
        - SendMsgControl
        - SendMsgControl
        MsgLifeTime: 364540
        MsgSeq: 1
        CloudCustomData: CloudCustomData
        To_Account:
        - To_Account
        - To_Account
        From_Account: From_Account
        MsgBody:
        - null
        - null
        OfflinePushInfo:
          Ext: Ext
          ApnsInfo:
            MutableContent: 3
            Title: Title
            BadgeMode: 9
            Image: Image
            SubTitle: SubTitle
          Desc: Desc
          AndroidInfo:
            GoogleChannelID: GoogleChannelID
            HuaWeiChannelID: HuaWeiChannelID
            XiaoMiChannelID: XiaoMiChannelID
            OPPOChannelID: OPPOChannelID
            Sound: Sound
            ExtAsHuaweiIntentParam: 7
            VIVOClassification: "0"
            HuaWeiImportance: HuaWeiImportance
          PushFlag: 2
          Title: Title
      properties:
        SyncOtherMachine:
          description: 1：把消息同步到 From_Account 在线终端和漫游上 2：消息不同步至 From_Account；若不填写默认情况下会将消息存
            From_Account 漫游
          enum:
          - 1
          - 2
          type: integer
        From_Account:
          description: 管理员指定消息发送方帐号（若需设置 From_Account 信息，则该参数取值不能为空）
          type: string
        To_Account:
          description: 消息接收方用户 UserID
          items:
            type: string
          type: array
        MsgLifeTime:
          description: 消息离线保存时长（单位：秒），最长为7天（604800秒）。若设置该字段为0，则消息只发在线用户，不保存离线及漫游
          maximum: 604800
          type: integer
        MsgSeq:
          description: 消息序列号（32位无符号整数），后台会根据该字段去重及进行同秒内消息的排序，详细规则请看本接口的功能说明。若不填该字段，则由后台填入随机数
          type: integer
        MsgRandom:
          description: 消息随机数（32位无符号整数），后台用于同一秒内的消息去重。请确保该字段填的是随机
          type: integer
        SendMsgControl:
          description: 消息发送控制选项，是一个 String 数组，只对本次请求有效。"NoUnread"表示该条消息不计入未读数。"NoLastMsg"表示该条消息不更新会话列表。"WithMuteNotifications"表示该条消息的接收方对发送方设置的免打扰选项生效（默认不生效）。
          items:
            type: string
          type: array
        MsgBody:
          description: TIM 消息
          items:
            $ref: '#/components/schemas/TIMMsgElement'
          type: array
        CloudCustomData:
          description: 消息自定义数据（云端保存，会发送到对端，程序卸载重装后还能拉取到）
          type: string
        OfflinePushInfo:
          $ref: '#/components/schemas/OfflinePushInfo'
      required:
      - MsgBody
      - MsgRandom
      - To_Account
      type: object
    BatchSendSingleChatMsgResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/BatchSendSingleChatMsgResponse_allOf'
    ImportMsgRequest:
      example:
        MsgRandom: 1
        MsgSeq: 6
        CloudCustomData: CloudCustomData
        To_Account: To_Account
        From_Account: From_Account
        MsgTimeStamp: 5
        MsgBody:
        - null
        - null
        SyncFromOldSystem: 0
      properties:
        SyncFromOldSystem:
          description: 该字段只能填1或2，其他值是非法值 1表示实时消息导入，消息计入未读计数 2表示历史消息导入，消息不计入未读
          enum:
          - 0
          - 1
          type: integer
        From_Account:
          description: 消息发送方 UserID，用于指定发送消息方
          type: string
        To_Account:
          description: 消息接收方 UserID
          type: string
        MsgSeq:
          description: 消息序列号（32位无符号整数），后台会根据该字段去重及进行同秒内消息的排序，详细规则请看本接口的功能说明。若不填该字段，则由后台填入随机数
          type: integer
        MsgRandom:
          description: 消息随机数（32位无符号整数），后台用于同一秒内的消息去重。请确保该字段填的是随机
          type: integer
        MsgTimeStamp:
          description: 消息时间戳，UNIX 时间戳，单位为秒。后台会根据该字段去重，详细规则请看本接口的功能说明。
          type: integer
        MsgBody:
          description: 消息内容，具体格式请参考（https://cloud.tencent.com/document/product/269/2720）消息格式描述（注意，一条消息可包括多种消息元素，MsgBody
            为 Array 类型）
          items:
            $ref: '#/components/schemas/TIMMsgElement'
          type: array
        CloudCustomData:
          description: 消息自定义数据（云端保存，会发送到对端，程序卸载重装后还能拉取到）
          type: string
      required:
      - From_Account
      - MsgBody
      - MsgRandom
      - MsgTimeStamp
      - SyncFromOldSystem
      - To_Account
      type: object
    GetRoamMsgRequest:
      example:
        MaxCnt: 0
        To_Account: To_Account
        From_Account: From_Account
        MaxTime: 1
        LastMsgKey: LastMsgKey
        MinTime: 6
      properties:
        From_Account:
          description: 会话其中一方的 UserID，若已指定发送消息方帐号，则为消息发送方
          type: string
        To_Account:
          description: 会话其中一方的 UserID
          type: string
        MaxCnt:
          description: 请求的消息条数
          type: integer
        MinTime:
          description: 请求的消息时间范围的最小值
          type: integer
        MaxTime:
          description: 请求的消息时间范围的最大值
          type: integer
        LastMsgKey:
          description: "上一次拉取到的最后一条消息的 MsgKey，续拉时需要填该字段,填写方法见示例（https://cloud.tencent.com/document/product/269/42794）"
          type: string
      required:
      - From_Account
      - MaxCnt
      - MaxTime
      - MinTime
      - To_Account
      type: object
    GetRoamMsgResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/GetRoamMsgResponse_allOf'
    MsgWithdrawRequest:
      example:
        MsgKey: MsgKey
        To_Account: To_Account
        From_Account: From_Account
      properties:
        From_Account:
          description: 消息发送方 UserID
          type: string
        To_Account:
          description: 消息接收方 UserID
          type: string
        MsgKey:
          description: 待撤回消息的唯一标识。该字段由REST API接口单发单聊消息（https://cloud.tencent.com/document/product/269/2282）和
            批量发单聊消息（https://cloud.tencent.com/document/product/269/1612）返回
          type: string
      required:
      - From_Account
      - MsgKey
      - To_Account
      type: object
    SetMsgReadRequest:
      example:
        MsgReadTime: MsgReadTime
        Report_Account: Report_Account
        Peer_Account: Peer_Account
      properties:
        Report_Account:
          description: 进行消息已读的用户 UserId
          type: string
        Peer_Account:
          description: 进行消息已读的单聊会话的另一方用户 UserId
          type: string
        MsgReadTime:
          description: 时间戳（秒），该时间戳之前的消息全部已读。若不填，则取当前时间戳
          type: string
      required:
      - Peer_Account
      - Report_Account
      type: object
    GetC2cUnreadMsgNumRequest:
      example:
        To_Account: To_Account
        Peer_Account:
        - Peer_Account
        - Peer_Account
        - Peer_Account
        - Peer_Account
        - Peer_Account
      properties:
        To_Account:
          description: 待查询的用户 UserId
          type: string
        Peer_Account:
          description: 待查询的单聊会话对端的用户 UserId。若要查询单个会话的未读数，该字段必填该数组最大大小为10
          items:
            type: string
          maxItems: 10
          type: array
      required:
      - To_Account
      type: object
    GetC2cUnreadMsgNumResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/GetC2cUnreadMsgNumResponse_allOf'
    ImPushRequest:
      example:
        Condition:
        - TagsOr: "{}"
          AttrsAnd: "{}"
          AttrsOr: "{}"
          TagsAnd: "{}"
        - TagsOr: "{}"
          AttrsAnd: "{}"
          AttrsOr: "{}"
          TagsAnd: "{}"
        MsgRandom: 0
        MsgLifeTime: 364540
        From_Account: From_Account
        MsgBody:
        - null
        - null
        OfflinePushInfo:
          Ext: Ext
          ApnsInfo:
            MutableContent: 3
            Title: Title
            BadgeMode: 9
            Image: Image
            SubTitle: SubTitle
          Desc: Desc
          AndroidInfo:
            GoogleChannelID: GoogleChannelID
            HuaWeiChannelID: HuaWeiChannelID
            XiaoMiChannelID: XiaoMiChannelID
            OPPOChannelID: OPPOChannelID
            Sound: Sound
            ExtAsHuaweiIntentParam: 7
            VIVOClassification: "0"
            HuaWeiImportance: HuaWeiImportance
          PushFlag: 2
          Title: Title
      properties:
        Condition:
          description: Condition 共有4种条件类型，分别是：属性的或条件 AttrsOr、属性的与条件 AttrsAnd、标签的或条件
            TagsOr、标签的与条件 TagsAnd。AttrsOr 和 AttrsAnd 可以并存，TagsOr 和 TagsAnd 也可以并存。但是标签和属性条件不能并存。如果没有
            Condition，则推送给全部用户
          items:
            $ref: '#/components/schemas/ImPushRequest_Condition_inner'
          type: array
        MsgRandom:
          description: 消息随机数（32位无符号整数），后台用于同一秒内的消息去重。请确保该字段填的是随机
          type: integer
        MsgBody:
          items:
            $ref: '#/components/schemas/TIMMsgElement'
          type: array
        MsgLifeTime:
          description: 消息离线存储时间，单位秒，最多保存7天（604800秒）。默认为0，表示不离线存储，即只推在线用户
          maximum: 604800
          type: integer
        From_Account:
          description: 消息推送方帐号
          type: string
        OfflinePushInfo:
          $ref: '#/components/schemas/OfflinePushInfo'
      required:
      - MsgBody
      - MsgRandom
      type: object
    ImPushResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/ImPushResponse_allOf'
    ImSetAttrNameRequest:
      example:
        AttrNames: "{}"
      properties:
        AttrNames:
          type: object
      required:
      - AttrNames
      type: object
    ImGetAttrNameRequest:
      type: object
    ImGetAttrNameResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/ImGetAttrNameResponse_allOf'
    ImGetAttrRequest:
      example:
        To_Account:
        - To_Account
        - To_Account
      properties:
        To_Account:
          description: 目标用户帐号列表
          items:
            type: string
          type: array
      required:
      - To_Account
      type: object
    ImGetAttrResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/ImGetAttrResponse_allOf'
    ImSetAttrRequest:
      example:
        To_Account: To_Account
        Attrs: "{}"
      properties:
        To_Account:
          description: 目标用户帐号列表
          type: string
        Attrs:
          description: 属性集合。每个属性是一个键值对，键为属性名，值为该用户对应的属性值。用户属性值不能超过50字节
          type: object
      required:
      - Attrs
      - To_Account
      type: object
    ImRemoveAttrRequest:
      example:
        To_Account: To_Account
        Attrs:
        - Attrs
        - Attrs
      properties:
        To_Account:
          description: 目标用户帐号列表
          type: string
        Attrs:
          description: 属性集合，注意这里只需要给出属性名即可
          items:
            type: string
          type: array
      required:
      - Attrs
      - To_Account
      type: object
    ImGetTagRequest:
      example:
        To_Account:
        - To_Account
        - To_Account
      properties:
        To_Account:
          description: 目标用户帐号列表
          items:
            type: string
          type: array
      required:
      - To_Account
      type: object
    ImGetTagResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/ImGetTagResponse_allOf'
    ImAddTagRequest:
      example:
        To_Account: To_Account
        Tags:
        - Tags
        - Tags
      properties:
        To_Account:
          description: 目标用户帐号列表
          type: string
        Tags:
          description: 标签集合
          items:
            type: string
          type: array
      required:
      - Tags
      - To_Account
      type: object
    ImRemoveTagRequest:
      example:
        UserTags:
        - UserTags
        - UserTags
      properties:
        UserTags:
          description: 目标用户帐号列表
          items:
            properties:
              To_Account:
                description: 目标用户帐号列表
                type: string
              Tags:
                description: 标签集合
                items:
                  type: string
                type: array
            type: string
          type: array
      required:
      - Tags
      - To_Account
      type: object
    ImRemoveAllTagRequest:
      example:
        To_Account:
        - To_Account
        - To_Account
      properties:
        To_Account:
          description: 目标用户帐号
          items:
            type: string
          type: array
      required:
      - To_Account
      type: object
    PortraitSetRequest:
      example:
        ProfileItem:
        - Value: Value
          Tag: Tag
        - Value: Value
          Tag: Tag
        From_Account: From_Account
      properties:
        From_Account:
          description: 消息发送方 UserID
          type: string
        ProfileItem:
          description: 待设置的用户的资料对象数组，数组中每一个对象都包含了 Tag 和 Value
          items:
            $ref: '#/components/schemas/PortraitSetRequest_ProfileItem_inner'
          type: array
      required:
      - From_Account
      - ProfileItem
      type: object
    PortraitSetResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/PortraitSetResponse_allOf'
    PortraitGetRequest:
      example:
        To_Account:
        - To_Account
        - To_Account
        TagList:
        - TagList
        - TagList
      properties:
        To_Account:
          description: 需要拉取这些 UserID 的资料；注意：每次拉取的用户数不得超过100，避免因回包数据量太大以致回包失败
          items:
            type: string
          type: array
        TagList:
          description: 指定要拉取的资料字段的 Tag，支持的字段有：1. 标配资料字段，详情可参见 标配资料字段（https://cloud.tencent.com/document/product/269/1500#.E6.A0.87.E9.85.8D.E8.B5.84.E6.96.99.E5.AD.97.E6.AE.B5）
            2. 自定义资料字段，详情可参见 自定义资料字段（https://cloud.tencent.com/document/product/269/1500#.E8.87.AA.E5.AE.9A.E4.B9.89.E8.B5.84.E6.96.99.E5.AD.97.E6.AE.B5）
          items:
            type: string
          type: array
      required:
      - TagList
      - To_Account
      type: object
    PortraitGetResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/PortraitGetResponse_allOf'
    FriendAddRequest:
      example:
        ForceAddFlags: 0
        AddFriendItem:
        - GroupName: GroupName
          AddWording: AddWording
          AddSource: AddSource
          To_Account: To_Account
          Remark: Remark
        - GroupName: GroupName
          AddWording: AddWording
          AddSource: AddSource
          To_Account: To_Account
          Remark: Remark
        From_Account: From_Account
        AddType: AddType
      properties:
        From_Account:
          description: 需要为该 UserID 添加好友
          type: string
        AddFriendItem:
          description: 好友结构体对象
          items:
            $ref: '#/components/schemas/FriendAddRequest_AddFriendItem_inner'
          type: array
        AddType:
          description: 加好友方式（默认双向加好友方式）：Add_Type_Single 表示单向加好友 Add_Type_Both 表示双向加好友
          type: string
        ForceAddFlags:
          description: 管理员强制加好友标记：1表示强制加好友，0表示常规加好友方式
          enum:
          - 0
          - 1
          type: integer
      required:
      - AddFriendItem
      - From_Account
      type: object
    FriendAddResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/FriendAddResponse_allOf'
    FriendImportRequest:
      example:
        AddFriendItem:
        - GroupName:
          - GroupName
          - GroupName
          CustomItem:
          - Value: Value
            Tag: Tag
          - Value: Value
            Tag: Tag
          AddWording: AddWording
          AddSource: AddSource
          To_Account: To_Account
          RemarkTime: 0
          AddTime: 6
          Remark: Remark
        - GroupName:
          - GroupName
          - GroupName
          CustomItem:
          - Value: Value
            Tag: Tag
          - Value: Value
            Tag: Tag
          AddWording: AddWording
          AddSource: AddSource
          To_Account: To_Account
          RemarkTime: 0
          AddTime: 6
          Remark: Remark
        From_Account: From_Account
      properties:
        From_Account:
          description: 需要为该 UserID 添加好友
          type: string
        AddFriendItem:
          description: 好友结构体对象
          items:
            $ref: '#/components/schemas/FriendImportRequest_AddFriendItem_inner'
          type: array
      required:
      - AddFriendItem
      - From_Account
      type: object
    FriendImportResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/FriendAddResponse_allOf'
    FriendUpdateRequest:
      example:
        UpdateItem:
        - To_Account: To_Account
          SnsItem:
          - Value: Value
            Tag: Tag
          - Value: Value
            Tag: Tag
        - To_Account: To_Account
          SnsItem:
          - Value: Value
            Tag: Tag
          - Value: Value
            Tag: Tag
        From_Account: From_Account
      properties:
        From_Account:
          description: 需要更新该 UserID 的关系链数据
          type: string
        UpdateItem:
          description: 需要更新的好友对象数组
          items:
            $ref: '#/components/schemas/FriendUpdateRequest_UpdateItem_inner'
          type: array
      required:
      - From_Account
      - UpdateItem
      type: object
    FriendUpdateResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/FriendUpdateResponse_allOf'
    FriendDeleteRequest:
      example:
        To_Account:
        - To_Account
        - To_Account
        - To_Account
        - To_Account
        - To_Account
        From_Account: From_Account
        DeleteType: DeleteType
      properties:
        From_Account:
          description: 需要删除该 UserID 的好友
          type: string
        To_Account:
          description: 待删除的好友的 UserID 列表，单次请求的 To_Account 数不得超过1000
          items:
            type: string
          maxItems: 1000
          type: array
        DeleteType:
          description: 删除模式，详情可参见 删除好友（https://cloud.tencent.com/document/product/269/1501#.E5.88.A0.E9.99.A4.E5.A5.BD.E5.8F.8B）
          type: string
      required:
      - From_Account
      - UpdateItem
      type: object
    FriendDeleteResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/FriendDeleteResponse_allOf'
    FriendDeleteAllRequest:
      example:
        From_Account: From_Account
        DeleteType: DeleteType
      properties:
        From_Account:
          description: 指定要清除好友数据的用户的 UserID
          type: string
        DeleteType:
          description: 删除模式，默认删除单向好友，详情可参见 删除好友（https://cloud.tencent.com/document/product/269/1501#.E5.88.A0.E9.99.A4.E5.A5.BD.E5.8F.8B）
          type: string
      required:
      - From_Account
      type: object
    FriendDeleteAllResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/PortraitSetResponse_allOf'
    FriendCheckRequest:
      example:
        CheckType: CheckType
        To_Account:
        - To_Account
        - To_Account
        - To_Account
        - To_Account
        - To_Account
        From_Account: From_Account
      properties:
        From_Account:
          description: 需要校验该 UserID 的好友
          type: string
        To_Account:
          description: 请求校验的好友的 UserID 列表，单次请求的 To_Account 数不得超过1000
          items:
            type: string
          maxItems: 1000
          type: array
        CheckType:
          description: 校验模式，详情可参见 校验好友（https://cloud.tencent.com/document/product/269/1501#.E6.A0.A1.E9.AA.8C.E5.A5.BD.E5.8F.8B）
          type: string
      required:
      - CheckType
      - From_Account
      - To_Account
      type: object
    FriendCheckResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/FriendCheckResponse_allOf'
    FriendGetRequest:
      example:
        CustomSequence: 1
        StartIndex: 0
        From_Account: From_Account
        StandardSequence: 6
      properties:
        From_Account:
          description: 指定要拉取好友数据的用户的 UserID
          type: string
        StartIndex:
          description: 分页的起始位置
          type: integer
        StandardSequence:
          description: 上次拉好友数据时返回的 StandardSequence，如果 StandardSequence 字段的值与后台一致，后台不会返回标配好友数据
          type: integer
        CustomSequence:
          description: 上次拉好友数据时返回的 CustomSequence，如果 CustomSequence 字段的值与后台一致，后台不会返回自定义好友数据
          type: integer
      required:
      - From_Account
      - StartIndex
      type: object
    FriendGetResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/FriendGetResponse_allOf'
    FriendGetListRequest:
      example:
        To_Account:
        - To_Account
        - To_Account
        From_Account: From_Account
        TagList:
        - TagList
        - TagList
      properties:
        From_Account:
          description: 指定要拉取好友数据的用户的 UserID
          type: string
        To_Account:
          description: 好友的 UserID 列表 建议每次请求的好友数不超过100，避免因数据量太大导致回包失败
          items:
            type: string
          type: array
        TagList:
          description: 指定要拉取的资料字段及好友字段：标配资料字段（https://cloud.tencent.com/document/product/269/1500#.E6.A0.87.E9.85.8D.E8.B5.84.E6.96.99.E5.AD.97.E6.AE.B5）、自定义资料字段（https://cloud.tencent.com/document/product/269/1500#.E8.87.AA.E5.AE.9A.E4.B9.89.E8.B5.84.E6.96.99.E5.AD.97.E6.AE.B5）、标配好友字段（https://cloud.tencent.com/document/product/269/1501#.E6.A0.87.E9.85.8D.E5.A5.BD.E5.8F.8B.E5.AD.97.E6.AE.B5）、自定义好友字段（https://cloud.tencent.com/document/product/269/1501#.E8.87.AA.E5.AE.9A.E4.B9.89.E5.A5.BD.E5.8F.8B.E5.AD.97.E6.AE.B5）
          items:
            type: string
          type: array
      required:
      - From_Account
      - TagList
      - To_Account
      type: object
    FriendGetListResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/FriendGetListResponse_allOf'
    BlackListAddRequest:
      example:
        To_Account:
        - To_Account
        - To_Account
        From_Account: From_Account
      properties:
        From_Account:
          description: 请求为该 UserID 添加黑名单
          type: string
        To_Account:
          description: 待添加为黑名单的用户 UserID 列表，单次请求的 To_Account 数不得超过1000
          items:
            type: string
          type: array
      required:
      - From_Account
      - To_Account
      type: object
    BlackListAddResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/BlackListAddResponse_allOf'
    BlackListDeleteRequest:
      example:
        To_Account:
        - To_Account
        - To_Account
        - To_Account
        - To_Account
        - To_Account
        From_Account: From_Account
      properties:
        From_Account:
          description: 需要删除该 UserID 的黑名单
          type: string
        To_Account:
          description: 待删除的黑名单的 UserID 列表，单次请求的 To_Account 数不得超过1000
          items:
            type: string
          maxItems: 1000
          type: array
      required:
      - From_Account
      - To_Account
      type: object
    BlackListDeleteResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/BlackListDeleteResponse_allOf'
    BlackListGetRequest:
      example:
        StartIndex: 0
        LastSequence: 1
        From_Account: From_Account
        MaxLimited: 6
      properties:
        From_Account:
          description: 需要拉取该 UserID 的黑名单
          type: string
        StartIndex:
          description: 拉取的起始位置
          type: integer
        MaxLimited:
          description: 每页最多拉取的黑名单数
          type: integer
        LastSequence:
          description: 上一次拉黑名单时后台返回给客户端的 Seq，初次拉取时为0
          type: integer
      required:
      - From_Account
      - LastSequence
      - MaxLimited
      - StartIndex
      type: object
    BlackListGetResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/BlackListGetResponse_allOf'
    BlackListCheckRequest:
      example:
        CheckType: CheckType
        To_Account:
        - To_Account
        - To_Account
        From_Account: From_Account
      properties:
        From_Account:
          description: 需要校验该 UserID 的黑名单
          type: string
        To_Account:
          description: 待校验的黑名单的 UserID 列表，单次请求的 To_Account 数不得超过1000
          items:
            type: string
          type: array
        CheckType:
          description: 校验模式，详情可参见 校验黑名单（校验黑名单）
          type: string
      required:
      - CheckType
      - From_Account
      - To_Account
      type: object
    BlackListCheckResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/BlackListCheckResponse_allOf'
    GroupAddRequest:
      example:
        GroupName:
        - GroupName
        - GroupName
        To_Account:
        - To_Account
        - To_Account
        From_Account: From_Account
      properties:
        From_Account:
          description: 需要为该 UserID 添加新分组
          type: string
        To_Account:
          description: 需要加入新增分组的好友的 UserID 列表
          items:
            type: string
          type: array
        GroupName:
          description: 新增分组列表
          items:
            type: string
          type: array
      required:
      - From_Account
      - GroupName
      type: object
    GroupAddResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/GroupAddResponse_allOf'
    GroupDeleteRequest:
      example:
        GroupName:
        - GroupName
        - GroupName
        From_Account: From_Account
      properties:
        From_Account:
          description: 需要删除该 UserID 的分组
          type: string
        GroupName:
          description: 新增分组列表
          items:
            type: string
          type: array
      required:
      - From_Account
      - GroupName
      type: object
    GroupDeleteResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/GroupDeleteResponse_allOf'
    GroupGetRequest:
      example:
        GroupName:
        - GroupName
        - GroupName
        NeedFriend: NeedFriend
        From_Account: From_Account
      properties:
        From_Account:
          description: 指定要拉取分组的用户的 UserID
          type: string
        NeedFriend:
          description: "是否需要拉取分组下的 User 列表, Need_Friend_Type_Yes： 需要拉取, 不填时默认不拉取,\
            \ 只有 GroupName 为空时有效"
          type: string
        GroupName:
          description: 要拉取的分组名称
          items:
            type: string
          type: array
      required:
      - From_Account
      type: object
    GroupGetResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - $ref: '#/components/schemas/GroupGetResponse_allOf'
    GetRecentContactListGroupGetRequest:
      example:
        TopStartIndex: 5
        StartIndex: 6
        From_Account: From_Account
        AssistFlags: 5
        TopTimeStamp: 1
        TimeStamp: 0
      properties:
        From_Account:
          description: 填 UserID，请求拉取该用户的会话列表
          type: string
        TimeStamp:
          description: 普通会话的起始时间，第一页填 0
          type: integer
        StartIndex:
[...]
